[2019-06-23 10:30] jeanbisutti opened #3 "Add @DisableQueriesWithoutBindParameters and @EnableQueriesWithoutBindParameters"
## Why
Using bind parameters is recommanded for performance. Moreover, bind parameters can prevent SQL injections.

References:
* *Oracle Performance Survival Guide: A Systematic Approach to Database Optimization*
* https://use-the-index-luke.com/sql/where-clause/bind-parameters
* https://dzone.com/articles/why-sql-bind-variables-are-important-for-performan
* https://blogs.oracle.com/sql/improve-s

[2019-06-23 10:31] jeanbisutti opened #4 "Add @ExpectMaxQueryExecutionTime"
Provide an annotation to check the execution time of SQL queries.

[2019-06-23 10:32] jeanbisutti opened #5 "Add @MeasureOffHeapAllocation"

[2019-06-27 12:08] jeanbisutti opened #6 "Add Maven wrapper"
Tutorial: https://www.baeldung.com/maven-wrapper

If you start to work on this issue, please leave a comment "I start to work on this issue", so we can assign it to you.

[2019-06-27 14:20] jeanbisutti opened #7 "Create a QuickPerf web site"
The website will contain the documentation, the release notes, ...

[2019-06-27 20:40] dialaya commented on #4
start work on it

[2019-07-04 13:34] jeanbisutti opened #8 "@ProfileHeapAllocation"
With @ProfileHeapAllocation, heap allocation profiling will be displayed in the console (http://hirt.se/blog/?p=381).

QuickPerf [can already profile a test method with Java Flight Recorder](https://github.com/quick-perf/doc/wiki/JVM-annotations#Profile-or-check-your-JVM). @ProfileHeapAllocation will extract heap allocation profiling data from this recording.

*If you would like to have more detai

[2019-09-05 12:41] loicmathieu opened #14 "Provides a JUnit 5 extension"
**Description**
Currentlly, only JUnit 4 is supported.

**Implementation ideas**
There should be a JUnit 5 extension to be able to use quickperf with JUnit 5.
I can try to work on it.

[2019-09-05 13:32] loicmathieu opened #15 "QuickPerf should have a minimum version of Java 8"
**Description**
Today, the Maven Enforce plugin configuration of QuickPerf is configure for Java 7 compatiility !
Java 7 is EOL since April 2015 and a lot of libraries are compatible with Java 8 only.

**Implementation ideas**
Upgrade the Maven Enforce plugin configuration to target Java 8.

[2019-09-05 14:02] loicmathieu commented on #14
I have a running proof of concept but it needs #15 tu compile

[2019-09-05 18:57] jeanbisutti commented on #15
Hi @loicmathieu,

Thank you for your interest in QuickPerf!

The QuickPerf modules are configured for Java 7 compatibility,  except for one which has a Java 8 compatibility (https://github.com/quick-perf/quickperf/blob/master/spring/junit4-spring5/pom.xml). The idea is to be able to investigate performances on a legacy JDK 7 application.

A QuickPerf JUnit 5 module would a Java 8 compatibilty.

If

[2019-09-05 18:57] #15 closed

[2019-09-05 19:01] jeanbisutti commented on #14
It's great @loicmathieu!!! Could you please share the code somewhere to discuss about this?

[2019-09-06 08:54] loicmathieu commented on #15
I'm not agree, you will spend time working on keeping compatibility to not used anymore version instead of something else ...
But it's your call

[2019-09-06 09:25] jeanbisutti commented on #15
Until now, having a JDK 7 compatibility was not very time consuming.  If having a JDK 7 compatibility becomes a burden, we could change our position. You can notice that the core of Java Mission Control also maintains a JDK 7 compatibility.  Have the ability to investigate the performance properties of a legacy Java 7 applications seems to us an interesting feature.

[2019-09-06 14:30] jeanbisutti opened #16 "Add bytes to allocation display"
Some annotations, like [@MeasureHeapAllocation](https://github.com/quick-perf/doc/wiki/JVM-annotations#MeasureHeapAllocation), can display allocation in console. The allocation is formatted with the help of `ByteAllocationMeasureFormatter` class.

For example:
[code]

Now, we want that the formatted allocation also displays the allocation in bytes between parentheses if the allocation has a magnit

[2019-09-06 14:56] loicmathieu commented on #14
Current prototype is here: https://github.com/loicmathieu/quickperf/tree/feat/junit5/junit5

It is working for jvm annotations but lack the ability to fork the JVM for now.
I'll work on it next week if I found some time.

[2019-09-24 12:06] dissef12 commented on #14
Great, just discussing with our team, we like quickPerf but we are working with Junit5... thanks !

[2019-09-24 13:29] jeanbisutti commented on #14
Glad to learn this @dissef12! What your team would prefer to have first, SQL annotations (https://github.com/quick-perf/doc/wiki/SQL-annotations) or JVM annotations (https://github.com/quick-perf/doc/wiki/JVM-annotations)? Are you working with Spring?

[2019-09-24 15:23] dissef12 commented on #14
thanks for your response, We are using SpringBoot, and we are waiting for SQL annotations.
I don't know if you remember the meetup parisJUG in Renault Digital, but after your presentation (very interesting) I'm waiting for Junit5 for SqlAnnotation :)
thanks !!

[2019-09-24 16:14] jeanbisutti commented on #14
@dissef12,  I would like to know how you write your tests with Spring Boot and JUnit 5. Do you use @ExtendWith(SpringExtension.class), @SpringBootTest, @DataJpaTest() or other things? I remember now about the Paris JUG :)

[2019-09-25 07:39] dissef12 commented on #14
@jeanbisutti yes we use
@ExtendWith(SpringExtension.class)
@DataJpaTest

[2019-09-25 11:38] imod commented on #14
I'm also waiting for junit5 support, we run our tests like this:

[code]

[2019-09-25 12:31] loicmathieu commented on #14
Hello @dissef12 and @imod, can you build this branch and test using the junit5 module and `@QuickperfTest` junit5 compatible annotation? I may be able to spent some time this Friday on this extension but having early feedback on it will be very appreciate.

[2019-09-25 13:09] jeanbisutti commented on #14
@dissef12, @imod, @loicmathieu With the extension mechanism provided by JUnit 5, @QuickperfTest may work with @ExtendWith(SpringExtension.class), @SpringBootTest ans @DataJpaTest(). I added an automatic test in the branch checking that a SQL annotation works. However, I didn't test with Spring annotations. With Spring, to be able to use SQL annotations, you have to add a QuickPerfProxyBeanPostProc

[2019-09-25 14:22] imod commented on #14
@loicmathieu you should add `quick-perf-junit5` as a module to the parent pom, then we will be able to use project via jitpack: https://jitpack.io/#loicmathieu/quickperf/feat~junit5-SNAPSHOT

[2019-09-25 19:56] waterfl0w commented on #16
I am going to work on this.

[2019-09-25 20:34] jeanbisutti commented on #16
Great @waterfl0w! Yes, we want the suffix if allocation is greater than or equal to 1KB. Don't hesitate if you need more information.

[2019-09-26 02:38] emcdow123 commented on #6
Hey @jeanbisutti, I'd love to get started working on this!

[2019-09-26 02:47] emcdow123 commented on #6
I start to work on this issue

[2019-09-26 13:12] dissef12 commented on #14
@loicmathieu I have the same problem

[2019-09-26 16:21] jeanbisutti commented on #16
Thanks a lot for your work!
We would like to display allocation in bytes in a slightly different way, easier to read.
For example, for an allocation value of 100.0 Mega bytes, the expected display is
[code]
and not
[code]
Could you please update the code to have the expected display?

[2019-09-26 16:27] emcdow123 commented on #6
@jeanbisutti pull request created https://github.com/quick-perf/quickperf/pull/18

[2019-09-26 16:43] waterfl0w commented on #16
Sure. - Thank you for the feedback.
`NumberFormat#getIntegerInstance` does accept an optional `Locale`, otherwise it will automatically use a default value. Should I specifiy that it uses `Locale.ENGLISH` to ensure that it produces consistent formatting across all environments, or is default fine?

[2019-09-26 17:22] jeanbisutti commented on #6
Thanks @emcdow123 for your work!

[2019-09-26 17:22] #6 closed

[2019-09-26 19:47] jeanbisutti commented on #16
I am not sure that the expected display is going to depend on the Locale. If it was the case, the use of the English locale seems indeed better. To have the thousands separator defined with a blank, you may use the following piece of code together with a DecimalFormat:
[code]
More details here:  https://stackoverflow.com/questions/5323502/how-to-set-thousands-separator-in-java.
Thanks for your wor

[2019-09-27 08:53] jeanbisutti opened #19 "Update contributing with Maven wrappers"
The goal of this issue is to update the Contributing.md file to explain why we provide Maven wrappers and how to use them.

[2019-09-27 09:58] loicmathieu commented on #5
OffHeap is a complex area as there is a lot of different offheap memory pool:
- metaspace
- code space
- direct memory
- thread stack
- ... (I'm pretty sure I forget one or two)

I think that offheap should means direct memory.
I also think that metaspace related annotations should be a good addition (maybe on a separate issue).
I aslo think that a naive approach to memory consuption can be done a

[2019-09-27 09:58] loicmathieu commented on #14
@imod @dissef12 I didn't know who jitpack works but I added the junit5 module in the parent pom.

[2019-09-27 10:32] jeanbisutti commented on #5
Yes, in Java world, "Off-heap" is generally undestood as direct memory (see EhCache for example).
If you are interested, you can create an "Add @MeasureLinuxRSS"" issue, develop it and explore its interest from a use case!

[2019-09-27 11:22] loicmathieu commented on #5
OK, so byte allocations on off-heap is a good thing.

And I think also that Metaspace and RSS measurement should be good additions. I'll create separate issues, I'll work on it in a few weeks if nobody do it before :)

[2019-09-27 11:27] jeanbisutti commented on #5
@loicmathieu Great!

[2019-09-27 12:33] loicmathieu commented on #16
Maybe it should also be prefixed with `[QUICK PERF] ` in order to easily  see all logs related to QuickPerf in a glance.

[2019-09-27 12:34] loicmathieu opened #20 "Add @MeasureMetaspaceAllocation and @ExpectMetaspaceAllocation annotations"
**Description**
Add `@MeasureMetaspaceAllocation` to be able to mesure memory allocation on the Metaspace memory pool.

Add `@ExpectMetaspaceAllocation` to be able to put expectation on the result of `@MeasureMetaspaceAllocation`  and use it to fail the test

[2019-09-27 12:50] loicmathieu opened #21 "Add `@MeasureRSS` and `@ExpectRSS` annotations"
**Description**
**RSS** : Resident Set Size, is the total memory usage of a process on the OS it runs. This is the memory that the JVM uses for all it's memory pools (including direct memory if any).

Having a way to measure it at the begining of the test and at the end would be a good addition to QuickPerf

**Implementation ideas**
`@MeasureRSS` will measure RSS at the before and after the test a

[2019-09-27 13:01] waterfl0w commented on #16
@jeanbisutti Thanks for guiding me through this. :) - I have adjusted the formatting now to reflect the initial intentions. 83a76b2

[2019-09-27 16:30] myluco commented on #4
How is this work going? Is there a way to help (part of Hackoctoberfest)

[2019-09-27 16:34] myluco commented on #19
I could work on this. I would need some more info.

[2019-09-29 09:04] jeanbisutti commented on #19
@myluco Great!

The idea is to explain in the Build section of contributing that we need a given JDK and we need a MAaen 3 version. If the user don't want to install Maven 3 then he can use Maven wrappers, and we could explain how to use the wrappers on Windows, Linux and Mac.

Documentation on Maven wrapper: https://github.com/takari/maven-wrapper, https://github.com/spring-projects/spring-boot/b

[2019-09-29 09:11] jeanbisutti commented on #4
@myluco I would prefer not  to include this work in Hackoctoberfest. Thanks for your help proposal! :) In addition to #19, I could add more Hackoctoberfest issues in next days.

[2019-09-29 09:16] jeanbisutti commented on #19
@myluco Would you like to work on this?

[2019-09-29 09:19] jeanbisutti commented on #16
@loicmathieu I think it would be a good idea to add the prefix. I would rather to do this in another development.

[2019-09-29 16:59] jeanbisutti commented on #14
@dissef12  @imod  For information, in a Spring Boot project, I have succeded in making SQL annotations work with JUnit 5. I think I will share the configuration in a week (because I am in vacation now ;))

[2019-10-02 06:19] jeanbisutti commented on #16
@waterfl0w Huge thanks for the time you have spent working on this issue

[2019-10-02 06:20] #16 closed

[2019-10-02 06:24] jeanbisutti commented on #16
@waterfl0w I will add you as contributor in Readme and pom this evening

[2019-10-02 16:54] jeanbisutti commented on #14
Thanks for your great work @loicmathieu! I suggest to proceed in two steps. @loicmathieu could you please propose a PR (one commit) with only the necessary code to make SQL annotations works with JUnit 5(also please do not include the modified commitTestExecutionContext.java, JUnit5FailuresRepository, QuickPerfJunit5Core and disableFork attribute of QuickPerfTest). It is already an important step.

[2019-10-03 08:27] loicmathieu commented on #14
What I can propose is to remove from the existing PR #22 forking and JVM annotations (both tests and correction to by allocation stuff) and to propose them in a separate PR.
I will prepare this now, if it compiles and pass the SQL test it will be OK :)

[2019-10-03 08:47] loicmathieu commented on #14
@jeanbisutti PR #22 works and only contains JUnit5 support and SQL annotations.

[2019-10-03 12:08] jeanbisutti commented on #14
Thanks @loicmathieu. The merge is done.

[2019-10-03 21:10] jeanbisutti opened #26 "[JUnit 5] Add an automatic test checking that global annotations work"
An annotation having a global scope applies on each test. More details [here](https://github.com/quick-perf/doc/wiki/QuickPerf#annotations-scope).

It is implemented with JUnit 4. The development of QuickPerf-JUnit 5 has begun.

Global annotations work with JUnit 5. The aim or this issue is to add an automatic test in [junit5-sql-test module](
https://github.com/quick-perf/quickperf/tree/master/ju

[2019-10-06 06:30] gaurav9822 commented on #26
@jeanbisutti Want to take this issue. Can you help?

[2019-10-06 09:54] jeanbisutti commented on #26
Great @gaurav9822! I added details in the description. Don't hesitate if you need more information.

[2019-10-06 12:23] jeanbisutti opened #27 "Add Oracle JDK 10 on CI (Travis)"
The aim of this issue is to add a build on Travis with Oracle JDK 10 and Linux.

[2019-10-06 12:32] jeanbisutti opened #28 "Add JDK 13 on CI (Travis)"
The aim of this issue is to add two builds on Travis:
* one with  OpenJDK JDK 13 and Linux
* one with Oracle JDK 13 and Linux

[2019-10-06 12:52] UtnansN commented on #27
I'd like to attempt this issue

[2019-10-06 13:06] danny95djb commented on #28
I'll give this a go, I'm guessing theres no reason it should work on JDK 13 and its as simple as just adding it to the .travis.yml

[2019-10-06 13:53] UtnansN commented on #27
Hmm, it seems like Travis has dropped support for oraclejdk10 and is failing builds immediately if oraclejdk10 is selected.  Should oraclejdk10 be downloaded from somewhere else for this?

Link - https://changelog.travis-ci.com/stop-a-job-early-if-a-deprecated-jdk-is-configured-76612

[2019-10-06 14:12] jeanbisutti commented on #27
@UtnansN I did not know... Sorry about that. I think that the build would fail with OpenJDK JDK 10 because JFR profiling may not be compatible with this JDK. You may try and submit a PR if the build works with OpenJDK JDK 10. Thanks to have a look at this issue @UtnansN!

[2019-10-06 14:12] #27 closed

[2019-10-06 14:17] jeanbisutti commented on #27
@UtnansN JFR was open source from JDK 11: https://dzone.com/articles/using-java-flight-recorder-with-openjdk-11-1

[2019-10-06 14:32] #28 closed

[2019-10-06 18:27] quick-perf commented on #14
@dissef12 and  @imod , a Spring Boot project giving examples of QuickPerf used together with JUnit 5 is available: https://github.com/quick-perf/springboot-junit5-examples.
In your project, you have to add the following dependencies:
[code]

You also need to have a BeanPostProcessor  in your Spring context:
https://github.com/quick-perf/springboot-junit5-examples/blob/master/src/test/java/football

[2019-10-06 18:30] jeanbisutti commented on #14
@dissef12 and  @imod , a Spring Boot project giving examples of QuickPerf used together with JUnit 5 is available: https://github.com/quick-perf/springboot-junit5-examples.
In your project, you have to add the following dependencies:
[code]

You also need to have a BeanPostProcessor  in your Spring context:
https://github.com/quick-perf/springboot-junit5-examples/blob/master/src/test/java/football

[2019-10-07 15:53] #26 closed

[2019-10-08 08:24] dissef12 commented on #14
thanks a lot @jeanbisutti , I'll test it as soon as possible, I'm in training this week, but I'll test it.
thanks

[2019-10-09 01:48] artyonline commented on #19
I haven't worked with Maven, but I would like to give it a shot. Can I try?

[2019-10-09 08:59] jeanbisutti commented on #19
@artyonline Yes! You can work on this and so test Maven!

[2019-10-16 08:22] jeanbisutti commented on #14
Hi @dissef12 and @imod, do you have tried to use SQL annotations together with @QuickPerfTest? Can I help you?

[2019-10-17 08:42] dissef12 commented on #14
Hello @jeanbisutti I tested your example junit5, it working for me, but when I integrate it in my project I have some problems, I'll send you the error, may be you can help me.
thanks

[2019-10-17 09:02] jeanbisutti commented on #14
@dissef Thanks a lot to have taken time to test. I am very interested by the error to help you.

[2019-10-17 09:07] jeanbisutti commented on #14
@dissef12 Hello, Thanks a lot to have taken time to test. I am very interested by the error to help you.

[2019-10-21 12:18] jeanbisutti commented on #14
Hello @dissef12, Thanks for your test When you will have time, could you please post the error

[2019-10-24 09:02] jeanbisutti opened #32 "QuickPerf TestNG"
**Description**

The goal of this issue is to be able to use QuickPerf with [TestNG](https://testng.org/doc/).

**Implementation guidelines**
* Create a `testng` Maven module to make QuickPerf work with TestNG
You can look at [JUnit 4](https://github.com/quick-perf/quickperf/tree/master/junit4) and [JUnit 5](https://github.com/quick-perf/quickperf/tree/master/junit5) implementations to help you.

[2019-10-24 10:18] jeanbisutti opened #33 "Have the ability to test SQL annotations on several databases with Testcontainers"
Today,  [automatic tests using a memory database (H2)](https://github.com/quick-perf/quickperf/tree/master/junit4-sql-test/src/test/java/org/quickperf/sql) verify that SQL annotations are working as expected.

With the help of [Testcontainers](https://www.testcontainers.org/), the goal of this issue is to can automatically verify that SQL annotations are working as expected on several non-memory d

[2019-10-24 13:17] jeanbisutti opened #34 "Micronaut & SQL annotations & JUnit 5"
SQL annotations can be used with JUnit 5.

We have to:
* use  `@QuickPerfTest`
* build a QuickPerf proxy of `javax.sql.DataSource`
[code]
Given the JUnit 5 extension mechanism, SQL annotations should work with Micronaut + JUnit 5.

The aim of this issue is to check this and give an example using together @QuickPerfTest and [@MicronautTest](https://micronaut-projects.github.io/micronaut-test/latest

[2019-11-12 12:16] loicmathieu opened #35 "@DebugQuickPerf should display the QuickPerf JVM options"
**Description**
QuickPerf add some JVM options when you use some of it's features (for example JMC or some JVM related annotations).
These options should be displayed when the annotation `@DebugQuickPerf` is added to the test.

**Implementation ideas**
`ConsoleReporter.displayQuickPerfDebugInfos()` should logs the jvm options that QuickPerf add to the forked JVM.

[2019-11-15 19:55] tvirtualw opened #36 "Cannot resolve dependency org.openjdk.jmc:flightrecorder.rules.jdk:7.0.0-SNAPSHOT"
I have created a Spring Boot 2.2.1 project from https://start.spring.io/ and added `testImplementation 'org.quickperf:quick-perf-junit4-spring5:1.0.0-RC4'` as Gradle dependency.

Gradle cannot resolve org.openjdk.jmc:flightrecorder.rules.jdk:7.0.0-SNAPSHOT which seems to be required by org.quickperf:quick-perf-jvm-annotations:1.0.0-RC4.

The project uses OpenJDK11.

What am I missing?

[2019-11-15 21:02] jeanbisutti commented on #36
QuickPerf uses one snapshot dependency, the one that Gradle cannot resolve. On Sonatype repository, only a snapshot version is available for this dependency. I have just discovered that a non snaphot version is available on AdoptOpenJDK / JFrog repository (since last septembre).
So, tomorrow I will test QuickPerf with the non snaphot version. If it seems OK, I will publish a new version of QuickPe

[2019-11-16 18:36] jeanbisutti commented on #36
I published a new version: 1.0.0-RC5
Could you please check with this one ?

[2019-11-18 18:58] tvirtualw commented on #36
It works when I add `https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc-libs` as a repository to my Gradle project. Looks like the Maven pom.xml in the quickperf library sets this necessary repository by itself. I haven't tried using a Maven project - but I guess it works out of the box without adding that repository manually. I'm good for now, thanks for your help.

[2019-11-18 18:58] #36 closed

[2019-11-18 22:01] jeanbisutti commented on #36
Thanks for this feedback! Could you please share the required Gradle configuration (the way to add https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc-libs as a repository to the Gradle project)? I could add it to the documentation to help other Gradle users. It seems to work with Maven. If you have questions on QuickPerf, don't hesitate.

[2019-11-18 22:20] tvirtualw commented on #36
The `build.gradle` file contains a repositories section to which I have added the repository so it ends up looking like this:

[code]

[2019-11-18 22:39] jeanbisutti commented on #36
Thanks a lot for this information!

[2019-11-26 09:23] jeanbisutti commented on #19
Hi @artyonline,
Are you always interested in working on this Issue?

[2019-11-26 15:41] artyonline commented on #19
No I couldn't get around to it.

[2019-12-31 12:30] jeanbisutti commented on #32
Closed by 3932345

[2019-12-31 12:30] #32 closed

[2020-01-07 14:14] rdm100 commented on #4
Hi,

Is there more of a description of the issue?

[2020-01-07 14:17] rdm100 commented on #19
Hi,

Has this documentation been fixed yet?

[2020-01-07 15:24] jeanbisutti commented on #19
Hi @rdm100,

This documentation issue is not fixed.

[2020-01-07 15:58] anthonyrichir opened #38 "Multiple identical select raised in a JHipster project"
Hello,

I'm trying to use QuickPerf within a Jhipster project in which I get an error with QuickPerf stating that I have 2 times the same select statement.

However, I don't think it's the case.

Here is the sample project I'm using to prove my point https://github.com/anthonyrichir/quickperf-sample-test.

For instance, a test on the repository itself:
[code]

Where the repository is:
[code]

Will

[2020-01-07 16:52] rdm100 commented on #19
So, should it be adding more detail to this "The idea is to explain in the Build section of contributing that we need a given JDK and we need a MAaen 3 version. If the user does not want to install Maven 3 then he can use Maven wrappers, and we could explain how to use the wrapper on Windows, Linux and Mac."

in this section

"Building from Source

Spring Boot source can be built from the command

[2020-01-07 21:48] jeanbisutti commented on #38
Hello,

I confirm that select statements are duplicated and that the issue is related to data source proxies message.

To fix it, in  `QuickPerfProxyBeanPostProcessor` class you can replace

[code]
by
[code]

In ` BookResourceIT`  class you can remove
[code]
The QuickPerf configuration with JUnit 5 and Spring will be easier in the next QuickPerf release (it won't be needed to define the ` QuickPer

[2020-01-08 10:44] loicmathieu commented on #34
@jeanbisutti I can give some help here, what did you expect as the outcome of this issue ? Documentation ? Integration test inside the repository ?

It would be good to have the "same" sample application implemented with multiple frameworks (Spring, Micronaut, Quarkus) with the same set of tests.

[2020-01-08 10:58] anthonyrichir commented on #38
Thanks, it's working !

But I broke the code again :)

So if you now look at the code, I changed the `BookResource` class where the `getUser` was using an eager fetch method. Now I'm using the default `findById` and it seems that QuickPerf doesn't consider the query to be part of the test body.
[code]
I also added the `@Transactional` annotation (I don't know why Jhipster doesn't generate them) bu

[2020-01-08 11:09] anthonyrichir commented on #38
Ok, I manage to solve it by clearing the persistence context right after saving the entity in the test.

[code]
I've made several tests and I have the feeling that a repository method with `@Query` always goes to the database, skipping the persistence context.

[2020-01-08 21:27] jeanbisutti commented on #38
@anthonyrichir , if you need help on QuickPerf don't hesitate to open question issues

[2020-01-08 21:46] jeanbisutti commented on #34
The most usefull for users would certainly be a sample application, as you suggest. Wiki documentation and integration test inside the QuickPerf repository could come after. A Spring application is tested with [QuickPerf+JUnit4](https://github.com/quick-perf/springboot-junit4-examples) and [QuickPerf+Junit5](https://github.com/quick-perf/springboot-junit5-examples). It would be great to have the s

[2020-01-09 09:43] loicmathieu commented on #34
Great, I will try to port the sample Spring application to Micronaut and Quarkus.

[2020-01-09 22:19] jeanbisutti commented on #34
Great @loicmathieu!

[2020-01-10 09:16] loicmathieu opened #40 "Quarkus & SQL annotations & JUnit5"
**Description**
Provides integration tests for Quarkus, SQL annotations and JUnit5

**Implementation ideas**
Implements the same integration test than for Spring Boot, SQL annotations and JUnit4

[2020-01-10 09:17] loicmathieu commented on #40
@jeanbisutti can you assign it to me?

[2020-01-10 09:17] loicmathieu opened #41 "SpringBoot & SQL annotations & JUnit5"
**Description**
Provides integration tests for Spring Boot, SQL annotations and JUnit5

**Implementation ideas**
Implements the same integration test than for Spring Boot, SQL annotations and JUnit4

[2020-01-10 09:17] loicmathieu commented on #41
@jeanbisutti can you assign it to me ?

[2020-01-10 09:20] loicmathieu opened #42 "Add @ExpectMaxHeap"
**Description**
We can define the heap of the forked VM but not make any assert of the value of it.

**Implementation ideas**
Add the annotation and the corresponding perf verifier

[2020-01-10 12:49] jeanbisutti commented on #42
@HeapSize or @Xmx allowes to set the Xmx JVM option. So, some performance properties (heap allocation for example) can be evaluated in a JVM having this Xmx value.
Could you please explain the interest of checking the heap size with @ExpectMaxHeap (perhaps by giving a use case)?

[2020-01-10 12:59] loicmathieu commented on #42
It's the same as the `@ExpectMaxRss` annotation but only on the memory part that is relative to the heap.
It assert that the test didn't use an heap that is more that what we expect.
It more targets integration test that launch the application than unit test that is better with the allocation related annotations.

[2020-01-11 22:14] jeanbisutti commented on #42
Xms and Xmx are optional JVM options. If they are not provided, the JVM will use default values for them. These default values can vary from one machine to another. Xms and Xmx JVM options are most generally provided.
So, I would prefer not to include this annotation in QuickPerf. However, [you can create the annotation outside QuickPerf and use it in a project](https://github.com/quick-perf/doc/w

[2020-01-11 22:15] #42 closed

[2020-01-12 09:07] jeanbisutti commented on #4
@dialaya Are you always interested in working on this issue?

[2020-01-12 09:40] jeanbisutti opened #44 "Test NG / Spring Boot"
A QuickPerf Test NG listener is developed (see #32 and 3932345 ).

A Spring Boot application is tested with [QuickPerf+JUnit4](https://github.com/quick-perf/springboot-junit4-examples) and [QuickPerf+Junit5](https://github.com/quick-perf/springboot-junit5-examples).

The aim of this issue is to provide a Github repository containing this Spring Boot application with tests using QuickPerf and Test

[2020-01-12 11:15] jeanbisutti commented on #19
You are welcome @rdm100.
Perhaps we could underly in [contributing](https://github.com/quick-perf/quickperf/blob/master/CONTRIBUTING.md#build-quickperf) that we need `JDK (OpenJDK, ...) >= 11 or Oracle JDK >= 1.8`.
After that, we could explain that it is possible to build with Maven installed in the machine or by using Maven wrappers.
I confirm that "explain how to use the wrapper on Windows, Linu

[2020-01-13 09:26] loicmathieu commented on #42
In fact this should have been named `@ExpectMaxUsedHeap` as `@ExpectMaxHeap` didn't means anything.

[2020-01-13 15:13] rdm100 commented on #19
Hi,

The section below from the "Building From Source" section

"Spring Boot source can be built from the command line using Apache Maven on JDK 1.8 or above. We include ‘Maven Wrapper’ scripts (./mvnw or mvnw.bat) that you can run rather than needing to install Maven locally."

has changed to the text below

"Spring Boot source can be built from the command line using Gradle on JDK 1.8 or above.

[2020-01-13 19:15] rdm100 commented on #19
I submitted a pull request let me know if that is in the right direction.

[2020-01-13 19:24] spencergibb commented on #19
A PR to spring boot (which no longer uses maven) doesn't make much sense.

[2020-01-13 20:57] jeanbisutti commented on #19
@rdm100 The [QuickPerf contributing file](https://github.com/quick-perf/quickperf/blob/master/CONTRIBUTING.md) has to be updated in the frame of this issue.

[2020-01-13 21:10] jeanbisutti commented on #41
I would not prefer to add integration tests with Spring Boot, SQL annotations and JUnit 5. Indeed, SQL annotations basically work thanks to the JUnit 5 extension mechanism. These tests would take several seconds to execute with Spring Boot and so would significantely increase the build length.

[2020-01-13 21:27] rdm100 commented on #19
@spencergibb  was it only recently that Spring Boot stopped using Maven because the CONTRIBUTING.adoc include info about Maven till 3 days ago?

@jeanbisutti not sure what you mean from your last comment I thought the file I was meant to update was the CONTRIBUTING.adoc file at https://github.com/spring-projects/spring-boot

When you said
"I think that it would be usefull to write in contributing

[2020-01-13 21:44] jeanbisutti commented on #19
@rdm100 I meant QuickPerf contributing file. No problem for the misunderstanding.

[2020-01-13 21:59] rdm100 commented on #19
@jeanbisutti does the info on how to build with Maven wrapper on Linux, Mac and Windows need to be added to the QuickPerf contributing file?

So I would add that you use the mvn -N io.takari:maven:0.7.7:wrapper command and then ./mvnw clean install, but with more details to the QuickPerf contributing file?

[2020-01-14 08:09] jeanbisutti commented on #19
@rdm100

Yes

No

Yes

[2020-01-14 18:06] rdm100 commented on #19
I have submitted a pull request let me know if that is what you are looking for.

I updated the contributing file with more information about Maven wrappers. Were you looking for more detail than that, if so where would I get more information on Maven wrappers to add to it?

[2020-01-16 11:37] jeanbisutti commented on #19
Thanks @rdm100. I created a [PR](https://github.com/rdm100/quickperf/pulls) on your repository to propose some improvements. What do you think ? Do you notice other things to improve?
I don't think that it is needed to have too many details on Maven wrapper mechanics.

[2020-01-16 12:26] rdm100 commented on #19
@jeanbisutti I have updated CONTRIBUTING and submitted another pull request let me know if it's ok. I'm unsure of any other changes as I've never used QuickPerf or Maven Wrappers, I've used Maven though. Sorry I'm a newb to them. I'm trying to get some open source experience so am trying to get involved in any way I can:)

[2020-01-16 18:55] jeanbisutti commented on #19
@rdm100 You close this [PR](https://github.com/rdm100/quickperf/pull/1). If you agree with the changes please reopen it and merge it. If you don't agree please explain why.

[2020-01-16 18:55] #41 closed

[2020-01-16 19:22] rdm100 commented on #19
@jeanbisutti ah I hadn't seen your improvements proposal! I reopened the pull request, I agree with the changes and merged them. Thanks for your patience.

[2020-01-16 20:57] jeanbisutti commented on #19
@rdm100
There is a merge conflict:  `<<<<<<< HEAD`
The most simple would be to refork, modidy the contributring file (perhaps by taking [this content](https://github.com/jeanbisutti/quickperf/blob/CONTRIBUTING/CONTRIBUTING.md) in my repository) and submit a new PR.

[2020-01-16 21:03] #34 closed

[2020-01-16 21:54] rdm100 commented on #19
@jeanbisutti do you mean refork from your original repository https://github.com/jeanbisutti/quickperf

[2020-01-16 22:03] jeanbisutti commented on #19
@rdm100 From https://github.com/quick-perf/quickperf

[2020-01-17 17:11] rdm100 commented on #19
@jeanbisutti

I did the above like you said I think, let me know if that's correct :)

[2020-01-17 19:01] archyoshi commented on #3
Hello, I want to work on this !

[2020-01-17 19:01] jeanbisutti commented on #3
Great @archyoshi!

[2020-01-18 11:50] jeanbisutti commented on #19
@rdm100 It remains conflicts.

The most simple would be to refork, modify the contributring file (*perhaps by replacing all the content by  [this content ](https://github.com/jeanbisutti/quickperf/blob/CONTRIBUTING/CONTRIBUTING.md)* coming from my repository) and submit a new PR.

The commit message could be: `Update contributing with Maven wrappers`

Thanks for the efforts you do for your first c

[2020-01-19 20:10] jeanbisutti commented on #3
@archyoshi You can find [here](https://github.com/quick-perf/doc/wiki/Create-an-annotation#steps-to-follow-to-add-a-sql-annotation-to-quickperf) the steps to follow to add a SQL annotation to QuickPerf.

[2020-01-20 16:39] rdm100 commented on #19
@jeanbisutti is there much point in modifying the file if if I just copy and paste the same content back in? Is there anything else that needs done that is suitable for a newb like me?

[2020-01-23 10:32] jeanbisutti commented on #19
@rdm100 The merge was done with conflicts. If you do an new commit then we will have several commits for this PR. To have a clean Git history,  I would prefer to have only one commit for this PR.
So, the most simple would be to refork, modify the contributring file (*perhaps by replacing all the content by  [this content ](https://github.com/jeanbisutti/quickperf/blob/CONTRIBUTING/CONTRIBUTING.md)

[2020-01-23 14:12] rdm100 commented on #19
@jeanbisutti I have done what you said I think and have submitted another pull request, hopefully this 1 is correct and I haven't done something stupid, it does say there are no merge conflicts at the moment.

[2020-01-23 14:45] jeanbisutti commented on #19
It's all good @rdm100.
Thanks.
Congratulations for your first contribution @rdm100!

[2020-01-23 14:47] jeanbisutti commented on #19
Closed by #50

[2020-01-23 14:47] #19 closed

[2020-01-23 15:49] rdm100 commented on #19
@jeanbisutti haha yay, I know it was only a small thing but cool to get involved. I think it said on one of the twitter feeds for one of your contributors that you were looking for underrepresented groups to contribute, I'm in one of those groups as I am quadriplegic from a spinal injury, so that should count towards that for you

Are there any other things needing down that are not too hard? I am

[2020-01-28 20:27] Minh-Trieu commented on #35
Working on it.

[2020-01-28 21:01] Arnaud-Nauwynck commented on #8
Snippet code to extract data from JFR

[code]

[2020-01-30 12:03] jeanbisutti commented on #35
Closed by #51

[2020-01-30 12:04] #35 closed

[2020-01-31 18:39] jeanbisutti commented on #38
Fixed with d4bde6601ad1fdd981ffcc7c172c929f431eb18f
Snaphot version deployed

[2020-02-01 18:04] jeanbisutti commented on #4
Closed by #53

[2020-02-01 18:04] #4 closed

[2020-02-02 11:15] jeanbisutti opened #54 "Add @ExpectUpdatedColumn"
**Description**
The aim of this annotation is to check the number of columns updated by a SQL UPDATE statement.

**Implementation steps**
The implementation steps are described ([here](https://github.com/quick-perf/doc/wiki/Create-an-annotation#steps-to-follow-to-add-a-sql-annotation-to-quickperf)).
[The code added to implement @ExpectUpdatedColumn will help you](https://github.com/quick-perf/quic

[2020-02-02 11:21] jeanbisutti opened #55 "Add QuickPerf examples"
You can look at [these issues](https://github.com/quick-perf/quickperf-examples/issues).

[2020-02-05 11:11] balaaagi commented on #54
I would like to start working on this issue. Is it still open?

[2020-02-05 12:37] jeanbisutti commented on #54
Hello @balaaagi
Yes, you can work on this issue!

[2020-02-07 12:57] jeanbisutti commented on #38
@anthonyrichir I created a PR (https://github.com/anthonyrichir/quickperf-sample-test/pull/2) to uprade your project to QuickPerf 1.0.0-RC6 and to simplify the configuration

[2020-02-07 12:59] jeanbisutti commented on #38
@anthonyrichir If you  want contribute, for example by explaining how to add QuickPerf just after having created a JHipster project, you are very welcome

[2020-02-07 12:59] #38 closed

[2020-02-07 15:57] jeanbisutti commented on #14
@dissef12 @imod

I wrote [domentation](https://github.com/quick-perf/doc/wiki/Spring#Spring-and-JUnit-5) to use SQL annotations with JUnit 5 and Spring.

A project example with Spring Boot and JUnit 5 is available [here](https://github.com/quick-perf/quickperf-examples).

You have also a JHipster project available [here](https://github.com/anthonyrichir/quickperf-sample-test). I created a [PR](htt

[2020-02-07 15:57] #14 closed

[2020-02-08 08:33] anthonyrichir commented on #38
Thanks for your feedback !

[2020-02-14 14:18] jeanbisutti commented on #54
Hi @balaaagi,
Don't hesitate to tell me if I can help you!

[2020-02-14 15:19] #21 closed

[2020-02-14 15:48] jeanbisutti opened #56 "Make RSS annotations work on Mac OS"
@MeasureRSS and  @ExpectMaxRSS annotations work on Linux thanks to this [PR](https://github.com/quick-perf/quickperf/pull/39).

The goal of this issue is to make @MeasureRSS and  @ExpectMaxRSS annotations work on Mac OS.

[2020-02-14 22:01] jeanbisutti commented on #40
An implementation is proposed [here](https://github.com/quick-perf/quickperf-examples/pull/6).

[2020-02-20 20:28] jeanbisutti commented on #3
This kind of quote in may help in `SqlExecutions`:
[code]

[2020-03-08 14:17] jeanbisutti commented on #56
From [Quarkus documentation](https://quarkus.io/guides/performance-measure):

@loicmathieu You may be interested by this

[2020-03-16 10:56] fabfas commented on #54
I start to work on this issue.

[2020-03-16 11:03] jeanbisutti commented on #54
@fabfas: the issue is still open

@balaaagi: Do you have started working on this issue? Are you still interested or can we let @fabfas work on this issue?

[2020-03-16 11:09] balaaagi commented on #54
@jeanbisutti I haven't made much progress on this. You can assign. Sorry for the inconvenience.

[2020-03-16 11:35] jeanbisutti commented on #54
@balaaagi No problem, thanks for your feeback

@fabfas You can work on this issue, don't hesitate to tell me if I can help you

[2020-03-20 23:13] jeanbisutti commented on #54
Closed by #59

[2020-03-20 23:13] #54 closed

[2020-04-02 05:05] nicokosi commented on #3
Thanks for these links. 👍

I like these tips from [Use the index, Luke!](https://use-the-index-luke.com/sql/where-clause/bind-parameters):

Not using bind parameters is like recompiling a program every time.

In all reality, there are only a few cases in which the actual values affect the execution plan. You should therefore use bind parameters if in doubt—just to prevent SQL injections.

If I und

[2020-04-02 07:24] jeanbisutti commented on #3
@nicokosi Thanks for your feedback.

I don't think that it is the meaning of the  [Use the index, Luke!](https://use-the-index-luke.com/sql/where-clause/bind-parameters) paper:

In some cases, the bind paramater values can influence the execution plan (and so we may have a better execution plan without bind parameters) , however there only dew cases according to Markus Winand. So you

.

[2020-04-02 16:14] jeanbisutti commented on #3
@nicokosi
The following papers clearly show that bind variables matter for performance :
* https://dzone.com/articles/why-sql-bind-variables-are-important-for-performan
* https://blogs.oracle.com/sql/improve-sql-query-performance-by-using-bind-variables

[2020-04-05 16:02] jeanbisutti opened #61 "Add @DisableSelfJoin and @EnableSelfJoin"
**Description**

In many cases, SQL self-joins don't seem to be the best option for performance:  [Markus Winand 1](https://twitter.com/gdsotirov/status/1178966788723400707), [Markus Winand 2](https://twitter.com/MarkusWinand/status/1118147557828583424).

The use of a [window function](https://blog.jooq.org/2013/11/03/probably-the-coolest-sql-feature-window-functions/) or a [pivot](https://modern-

[2020-04-06 19:19] archyoshi commented on #3
Hello !

The subject is advancing well, next steps to cover are related to some code refactorings as well as many test cases to add.

**Refactoring**
Compare bind parameters obtained by the method _query.getParameters()_ with the 'supposed bind parameters' obtained either

- by splitting the query on the "AND" keyword
Be careful when the query uses an "IN" keyword !
Be careful when the query conta

[2020-04-08 06:08] billybong opened #62 "Instrument dynamic JUnit 5 tests"
**Description**
Great project, I really like the idea and the configuration model.

I'd love to have the alternative to instrument dynamic tests as well, which AFAIK does not respect annotations but would instead need some programmatic API alternative.
Alternatively provide an example on how these could be wired up manually with the current model and some before and after lambdas?

https://junit.o

[2020-04-10 09:43] jeanbisutti commented on #62
Happy that QuickPerf can be useful!

Interesting idea @billybong!

I have a look into the code. Code needs refactoring to have a programmatic API for SQL.  It seems also possible for JVM part and to have it working with JUnit 5 dynamic tests but it is more complex because each test is executed in a dedicated JVM.

Do you have a specific use case in mind? A use case that would be very helpful for y

[2020-04-22 13:37] billybong commented on #62
In my particular use-case we have a ton of tests not written in JUnit (think of it like a system test) that loop through a set of inputs from disk.
I'd like to run these but instrumented to get metrics during these runs and a simple way to do that would be to generate a test for each input rather than manually creating a separate test method for each variant.

Since I've seen you've been involved

[2020-04-28 16:06] jeanbisutti opened #63 "Pretty display of JVM data"
**Description**

@ProfileJvm displays some JVM data in standard output.

In some case, the display is not pretty. Example:
[code]
Some vertical bars are not aligned.

**Implementation help**

`DisplayJvmProfilingValueVerifier` class has to be updated.
The text is contained in `text` local variable.
Write code to automatically align the vertical bars.
Test by adding `@ProfileJvm` on `code_with_scor

[2020-04-28 16:30] jeanbisutti opened #64 "Make @ProfileJvm display the allocation rate"
**Description**

With @ProfileJvm annotation, the JVM is profiled with the [JDK Flight Recorder](https://en.wikipedia.org/wiki/JDK_Flight_Recorder), an event recorder built into the JVM.

With this annotation, some JVM data are displayed in the standard output.

Example:
[code]
The aim of this issue is to add the allocation rate.

**Implementation ideas**
* Class displaying JVM data: `DisplayJvmPr

[2020-04-30 15:47] jeanbisutti commented on #63
Fixed by c68fcd54dd7aa43444a12e9bc1b34ce2b0ca5038

[2020-04-30 15:47] #63 closed

[2020-05-04 10:10] archyoshi commented on #3
Hello, so here's a little update on what has been done so far and what remains:

1. ~~Test use case with 1 bind parameter and 1 unbind parameter (with different order)~~
2. ~~Test use case with OR keyword~~
3. Test the other statements like INSERT/SELECT/DELETE/UPDATE...
4. Test nested SELECT statements
5. Tester SELECT statement using LIKE keyword
6. Tester SELECT statement using IN
7. Tester SEL

[2020-05-12 14:30] edwardrose946 commented on #64
Hi Jeanbisutti,

I'm looking for my first open source project to contribute to and would like to help. I am comfortable with Java, Maven and Git, but might need a little support as a first timer.

May I work on this issue?

Kind regards,

Edward Rose

[2020-05-12 15:27] jeanbisutti commented on #64
@edwardrose946

Hi Edward Rose,

Great, you are welcome!

I assign this issue to you.

I can help for your first contribution. Don't hesitate.

Kind regards

[2020-05-12 17:19] jeanbisutti opened #67 "Add @ExpectMaxInsert"
**Description**

The aim of this annotation is to check the maximum number of INSERT statements.

For example, a test method having `@ExpectMaxInsert(2)` annotation will fail if more than two INSERT statements are executed.

**Implementation steps**

1) Create the `@ExpectMaxInsert` annotation [here](https://github.com/quick-perf/quickperf/tree/master/sql/sql-annotations/src/main/java/org/quickper

[2020-05-12 21:53] edwardrose946 commented on #64
Hi Jean,

Thanks for the assignment.

Quick questions:

The two extra lines to add to the output will be allocation rate inside TLAB and allocation rate outside TLAB?

The calculation will return a long and won't have an associated JdkAggregator. I know I can just format the result as a String and put it in the table, but this isn't reusing the existing string formatting methods in ProfilingInfo.

[2020-05-13 12:28] jeanbisutti commented on #64
Hi Edward,

The extra line will be the total allocation rate (inside and outside TLAB).

Total allocation can be computed by using `JdkAggregators.ALLOCATION_TOTAL`.
[code]

Something is missing in the issue description, sorry about that.
From the long value, we can instanciate an Allocation object and format the allocation value with the `ByteAllocationMeasureFormatter`:
[code]
" /s" string has a

[2020-05-13 17:16] jeanbisutti opened #68 "Add @ExpectMaxUpdate"
**Description**

The aim of this annotation is to check the maximum number of UPDATE statements.

For example, a test method having `@ExpectMaxUpdate(2)` annotation will fail if more than two UPDATE statements are executed.

**Implementation steps**

1) Create the `@ExpectMaxUpdate` annotation [here](https://github.com/quick-perf/quickperf/tree/master/sql/sql-annotations/src/main/java/org/quickper

[2020-05-13 17:38] jeanbisutti opened #69 "Add @ExpectMaxDelete"
**Description**

The aim of this annotation is to check the maximum number of DELETE statements.

For example, a test method having `@ExpectMaxDelete(2)` annotation will fail if more than two DELETE statements are executed.

**Implementation steps**

1) Create the `@ExpectMaxDelete` annotation [here](https://github.com/quick-perf/quickperf/tree/master/sql/sql-annotations/src/main/java/org/quickper

[2020-05-14 09:50] jeanbisutti opened #70 "Make @ProfileJvm display the old GC count"
**Description**

With @ProfileJvm annotation, the JVM is profiled with the [JDK Flight Recorder](https://en.wikipedia.org/wiki/JDK_Flight_Recorder), an event recorder built into the JVM.

With this annotation, some profiling data are displayed in the standard output.

For example:
[code]

The aim of this issue is to also display the number of old collections.

With two old collections, we expect t

[2020-05-14 09:59] jeanbisutti opened #71 "Make @ProfileJvm display the young GC count"
With @ProfileJvm annotation, the JVM is profiled with the [JDK Flight Recorder](https://en.wikipedia.org/wiki/JDK_Flight_Recorder), an event recorder built into the JVM.

With this annotation, some profiling data are displayed in the standard output.

For example:
[code]

The aim of this issue is to also display the number of young collections.

With two young collections, we expect to display _Yo

[2020-05-15 13:04] loicmathieu opened #72 "SQL annotations didn't work anymore with Quarkus starting with 1.3"
**Describe the bug**
SQL annotations didn't work with Quarkus starting with 1.3.
No issues are detected.

I chased down the issue to `SqlRecorderRegistry` that uses an `InheritableThreadLocal` to stores the `SqlRecorder`.
Starting with Quarkus 1.3, when inside the `DataSourceQuickPerfListener` the list of sql recorders is empty?

I'm not sure if it's due to the changes in Classloader inside Quarku

[2020-05-15 20:22] edwardrose946 commented on #64
Hi Jean,

Thank you for your guidance so far.

![Capture](https://user-images.githubusercontent.com/61411652/82091219-e06f6100-96ee-11ea-8931-4198bda53180.PNG)

Sorry for the slow progress, this is turning into quite a humbling experience. I am making progress though. I have some further questions before I will commit:

[code]
This is my first time using IItemCollections. I am currently accessing

[2020-05-16 11:14] jeanbisutti commented on #64
Hi Edward,

Thanks a lot for your work!

You are close to the end of this issue based on JDK Mission Control  API!

Regarding the iteration with IItemCollections, I would write the code in the following way:

[code]
Perhaps there would be a better way to do this.

The first column can be broadened with the help of `StringWidthAdapter`.

If the difference between the max time stamp and minimum time

[2020-05-16 17:35] MrSnix commented on #67
I start to work on this issue

[2020-05-16 17:42] MrSnix commented on #67
I'm not sure what i should write inside HibernateSuggestion on N_PLUS_ONE_INSERT...
Should i document a way on how to control this type of behavior for Hibernate,
just as it was done for N_PLUS_ONE_SELECT ?
Is it supposed to display advice on how to solve this behavior?

[2020-05-16 19:08] jeanbisutti commented on #67
Great @MrSnix!
I assign this issue to you.
No suggestion was asked for this annotation. I didn't think about this when I created this issue. A suggestion may be "Perhaps you may think that JDBC batching is enabled. You can check this with  @ExpectJdbcBatching".
[@ExpectJdbcBatching documentation](https://github.com/quick-perf/doc/wiki/@ExpectJdbcBatching)

[2020-05-18 12:56] FTarfasse commented on #68
Hi Jean,

I'd really like to give this a try if it's ok for you. To be perfectly honest it will take me some time as I am on the beginner side but it's a perfect occasion to better understand your nice tool !

If I have any questions should I reply on this same thread ?
Thanks,

[2020-05-18 13:38] edwardrose946 commented on #64
Hi Jean,

In my allocation rate class I started with one public method, then broke it down into several private methods for readability. Before this project I hadn't used Mockito and with JUnit/Mockito I can't test private methods.

I read this <a href="https://www.artima.com/suiterunner/private.html">blog post</a> and decided to just test the public method. I have used Mockito to mock `IItemColle

[2020-05-18 16:43] jeanbisutti commented on #68
Hi Fabrice,

Yes, you can work on this issue! I assigned it to you.

Don't hesitate to leave of comment on this issue if you need help.

[2020-05-18 23:10] UbaidurRehman1 commented on #71
I would like to work on it.

[2020-05-18 23:11] UbaidurRehman1 commented on #70
I would like to work on it.

[2020-05-19 06:34] jeanbisutti commented on #71
Great @UbaidurRehman1! I assign this issue to you. Don't hesitate if you need help.

[2020-05-19 06:39] jeanbisutti commented on #70
Thanks @UbaidurRehman1! I suggest to assign this issue to you after your work on #71.

[2020-05-19 17:48] UbaidurRehman1 commented on #71
I have written the code but my question is:
How to display the profiling data? Is there any tests?  I have checked all JMC tests but no one display the profiling data? (as above)

[2020-05-19 18:17] UbaidurRehman1 opened #74 "Change Concatenation to String Builder (or String Buffer in Case of Multi-threading)"
So I just checked this class ```org/quickperf/jvm/jmc/value/DisplayJvmProfilingValueVerifier.java``` and it has a concatenation which is given below:
[code]
So, Can I  change it to String Builder (or Buffer in case if it is multi-threaded) cause concatenation is not good for performance wise?

[2020-05-20 13:24] loicmathieu opened #75 "Issue with non-serializable classes in exceptions with fork VM"
**Describe the bug**
When the VM is forked, all the test results from the forked VM are serialized to disk to be sent to the origin VM.

This uses Java Serialization.

If some non-serializable class is used inside the exception code of an exception thrown by the test, this leads to a crash of QuickPerf due to `java.lang.IllegalStateException`.

**Expected behavior**
(Describe the expected behavior

[2020-05-20 13:26] loicmathieu commented on #74
@UbaidurRehman1 starting with Java 9, concatenation is on par with StringBuilder in most cases (as it will be translated to StringBuilder usage at runtime). See https://openjdk.java.net/jeps/280

But even without that, it's only important for code that runs multipe times (what is often called code in the hot path). Here is code that will run once in a test to display the result so it not worth it

[2020-05-20 14:38] UbaidurRehman1 commented on #74
Nice Explanation, Great.

[2020-05-20 14:38] #74 closed

[2020-05-20 14:50] jeanbisutti commented on #75
Thanks @loicmathieu for this report.

A way to fix this would be to update `TestIssue `class:

[code]
In case where `firstThrowable` is not an instance of `Serializable`, then we may convert it into a Serializable `TestException` for example.

[2020-05-22 22:20] rimow commented on #69
Hello, I would like to give a try to this issue. thanks !

[2020-05-23 14:31] jeanbisutti commented on #75
@loicmathieu Thanks for this report.

Could you please provide a test case?

[2020-05-23 14:40] jeanbisutti commented on #69
@rimow Yes, of course!

I assign this issue to you.

Don't hesitate to leave a comment if I can help you.

[2020-05-25 09:07] loicmathieu commented on #75
You can reproduce the issue by using the (under developement) micronaut-data example available here: https://github.com/loicmathieu/quickperf-examples/tree/micronaut-data-jdbc

You can launch the test via `mvn clean test -Dmaven.test.skip=false`.

[2020-05-25 20:41] jeanbisutti commented on #75
@loicmathieu

I don't get the same stack as you:

[code]

The first problem explaining the other parts of the stack trace:
[code]

In `SqlFileRepository`:
[code]

`executedQueries` might be null.

Something seems to be missing in `micronaut-data-jdbc` example project.

[2020-05-26 07:30] loicmathieu commented on #75
Thanks for debugging this, I naively think that the issue on the reproducer is the same but it's not.
Anyway, the orgininal issue is real, it's the reproducer that is wrong.

Can you re-open the issue? I'll try to create another reproducer.

[2020-05-26 07:31] loicmathieu commented on #75
By the way, if `executedQueries` can be null, maybe add a null check in case someone uses an anotation to check that no queries has been issued ?

[2020-05-26 12:28] jeanbisutti commented on #75
If no query is raised, `executedQueries` is not supposed to be null.

[2020-05-26 13:34] jeanbisutti commented on #71
@UbaidurRehman1 I am sorry, I did not see your message...
To display the profiling data, in `JmcJUnit4Tests` class you can replace  `@ExpectNoJvmIssue(score = 50)` by `@ProfileJvm`. You may have to reduce heap size (` @HeapSize(value = 100, unit = AllocationUnit.MEGA_BYTE)`) in order to get young garbage collections.
It is possible to mock the JFR events, [an example](https://github.com/edwardrose

[2020-05-27 10:16] UbaidurRehman1 commented on #71
Pull request created.

[2020-05-28 14:23] jeanbisutti commented on #64
Hi Edward,

Thanks a lot for your great work.

I am a [PR in your repo](https://github.com/edwardrose946/quickperf/pull/1) containing some improvements.

Could you please merge this PR, squash the commits and after that create a PR for the QuickPerf repository?

I hope that this issue was not too difficult for a first contribution.

You are welcome if you would like to continue to contribute to Qu

[2020-05-28 14:51] loicmathieu commented on #75
I think it's a but as `executionInfo` might not be readable via `readUTF` at :  org.quickperf.sql.SqlExecution.writeExecutionInfo(SqlExecution.java:100)

[code]

[2020-05-28 15:18] loicmathieu commented on #75
The NPE issue was because the driver didn't set the dataSourceName and connectionId inside the Connection info when creating the connection proxy which generates a NPE when serializing the ExecutionInfo.

I'll try to create a reproducer for the original serialization issue.

[2020-05-28 15:22] #71 closed

[2020-05-28 15:28] jeanbisutti commented on #71
Fiixed with #76

[2020-05-28 15:40] UbaidurRehman1 commented on #70
One more thing for clarification: Should I extend my local branch for #71 or create new branch from master?

[2020-05-28 15:41] loicmathieu commented on #75
To reproduce the original issue, you can use the newly created micronaut-data-jdbc example project.
Then you replace the body of the `org.quickperf.micronaut.micronauttest.controller.PlayerController.findAll()` with the following code.

[code]

After launching the test with `mvn clean test -Dmaven.test.skip=false -Dmaven.test.failure.ignore -Dtest=PlayerControllerTest` you will see the issue.

[2020-05-28 18:50] jeanbisutti commented on #70
@UbaidurRehman1 I recommend to add the new code to your local branch and push it. The new code will be added to #76 PR. I think it is the more simple thing to do.

[2020-05-29 11:06] jeanbisutti opened #78 "Help the Micronaut Data user to fix N+1 select issues"
**Description**

Several [SQL annotations](https://github.com/quick-perf/doc/wiki/SQL-annotations) can be used to detect _N+1 select_ issues coming from [Micronaut Data](https://micronaut-projects.github.io/micronaut-data/latest/guide/).

The aim of this issue is to display a  message on console to alert of a potential _N+1 select_ issue and to propose to use [Micronaut join queries](https://micro

[2020-05-29 14:05] UbaidurRehman1 commented on #70
Pull request created. #79

[2020-05-29 15:59] edwardrose946 commented on #64
Hi Jean,

Thank you so much for your time and patience. I believe I have properly squashed the commits and created a PR. I will carefully look through your edits as I have a lot to learn from them. I hope I can continue to contribute.

Yours kindly,

Edward Rose

[2020-05-29 21:18] jeanbisutti commented on #70
Thanks a lot for your contribution @UbaidurRehman1!

[2020-05-29 21:18] #70 closed

[2020-05-31 09:45] jeanbisutti commented on #64
Hi Edward,

Thank you so much for your great work.

You are very welcome to continue to contribute.

Kind regards,

Jean Bisutti

[2020-05-31 09:45] #64 closed

[2020-05-31 13:53] suresh-naik-tfs opened #82 "Support for Spock Framework"
**Support for Spock Framework Test Cases**
Can support be added for Spock Framework Tests ?
http://spockframework.org

[2020-05-31 14:38] jeanbisutti commented on #82
Today QuickPerf works with JUnit 4, JUnit 5 and TestNG.

If you are interested in developing a QuickPerf support for Spock you are very welcome.

Kind regards

[2020-06-05 11:32] kanedafromparis opened #84 "Have configurable verbosity on none passing test"
**Description**
Some Feedback on non-working test (for instance N+1 select) are very long.
It's useful but it could be drawing (overwhelming) sometime.
It also could fill the CI system

It could be nice have its verbosity configurable
**Implementation ideas**
(If you have any implementation ideas, they can go here.)
It would be great to works with -Dquickperf.hints=0

[2020-06-07 21:13] jeanbisutti commented on #75
Fixed by 7f0b31366410112ba4a8b8b3cce22d07aad9705c

[2020-06-07 21:13] #75 closed

[2020-06-18 12:08] loicmathieu commented on #40
The example has been implemented and merged inside the quickperf-example repository.

[2020-06-18 12:08] #40 closed

[2020-06-20 09:25] jeanbisutti commented on #69
@rimow
Are you still interested in working on this issue? Can I help you?  I can help during [hack-commit-push](https://mailchi.mp/f7809cbbe48b/hack-commit-push-join-the-2020-virtual-event-participez-ldition-virtuelle-2020) virtual event on June the 27th.

[2020-06-21 17:36] rimow commented on #69
Hello, yes still interested, give me 2 more days plz. thanks

[2020-06-21 18:40] jeanbisutti commented on #69
Hello,
No problem, take your time. I just wanted to know if you are still interested.

[2020-06-25 11:28] navkumar258 commented on #69
Hi, want to work on this issue.Is it still open or is someone working on it?

[2020-06-25 12:22] jeanbisutti commented on #69
@navkumar258 I believe that @rimow wants to work on this issue.
I am going to create new issues and I could help during [hack-commit-push](https://mailchi.mp/f7809cbbe48b/hack-commit-push-join-the-2020-virtual-event-participez-ldition-virtuelle-2020) virtual event on June the 27th.

[2020-06-25 12:31] navkumar258 commented on #69
@jeanbisutti Sure, no prob.I will look out for other good first issues... 😃

[2020-06-26 16:13] jeanbisutti commented on #67
Fixed with 25a39ff7b15e10639d86219d166a79aaed2708a5

[2020-06-26 16:13] jeanbisutti commented on #67
Many thanks @MrSnix!

[2020-06-26 16:13] #67 closed

[2020-06-26 17:01] jeanbisutti opened #88 "Add Javadoc to core annotations"
_core annotations_ are documented in QuickPerf [wiki](https://github.com/quick-perf/doc/wiki/core-annotations) .

The goal of this issue is to add Javadoc to _core annotations_ that are located in [core Maven module](https://github.com/quick-perf/quickperf/tree/master/core/src/main/java/org/quickperf/annotation).

The documention contained in QuickPerf wiki can be used to add Javadoc to the _core

[2020-06-26 19:02] jeanbisutti opened #89 "Add Javadoc to JVM annotations"
_JVM annotations_ are documented in QuickPerf [wiki](https://github.com/quick-perf/doc/wiki/JVM-annotations).

The goal of this issue is to add Javadoc to _JVM annotations_ that are located in [jvm-annotations Maven module](https://github.com/quick-perf/quickperf/tree/master/jvm/jvm-annotations).

The documentation contained in QuickPerf wiki can be used to add Javadoc to the _JVM annotations_. Do

[2020-06-26 19:26] jeanbisutti opened #90 "Add Javadoc to SQL annotations"
_SQL annotations_ are documented in QuickPerf [wiki](https://github.com/quick-perf/doc/wiki/SQL-annotations).

The goal of this issue is to add Javadoc to _SQL annotations_ that are located in [sql-annotations Maven module](https://github.com/quick-perf/quickperf/tree/master/sql/sql-annotations).

The documentation contained in QuickPerf wiki can be used to add Javadoc to the _SQL annotations_. Do

[2020-06-28 10:48] jeanbisutti commented on #69
@navkumar258

I created other good first issues:
* https://github.com/quick-perf/quickperf/labels/%3Athumbsup%3A%20good%20first%20issue
* https://github.com/quick-perf/quickperf-examples/issues/12

Maybe you would be interested in working on one of them.

[2020-06-30 21:43] rimow commented on #69
Hello @jeanbisutti  can you please tell me if there is a way to print some logs to debug ?

[2020-07-01 18:53] navkumar258 commented on #33
Hi, looking for my first contribution. Please provide more details, a link/doc would suffice, about what needs to be done. thanks :smile:

[2020-07-01 20:35] jeanbisutti commented on #69
Hi @rimow,

You can use the debugger to debug. No logger is available (you can use System.out).

In your QuickPerf clone, don't hesitate to rebase on master and push your code so that I could help you.

[2020-07-02 08:22] jeanbisutti commented on #33
@navkumar258
A `sql-testcontainers-test` Maven module has to be added into [quickperf\sql](https://github.com/quick-perf/quickperf/tree/master/sql). A first step would be to execute [one of the tests using a memory database](https://github.com/quick-perf/quickperf/tree/master/sql/sql-integration-test/src/test/java) with a PostgreSQL database.
It's rather challenging for a first contribution!
@kane

[2020-07-02 08:34] jeanbisutti commented on #68
Fixed with  f79ca2e46b1d0a29d46f4d44a3a037325a12ca6e.

[2020-07-02 08:34] #68 closed

[2020-07-02 14:05] FTarfasse commented on #90
Hello Jean,

I'd like to work on this issue.
I'll try to show you a draft soon enough on a few annotations to make sure I am on the right track.

In addition to this I'll make a PR to update the wiki with the latest annotations from v1.

Let me know if it is ok for you.

Kind regards,
Fabrice

[2020-07-02 15:36] jeanbisutti commented on #90
Hello Fabrice,

It would be really great!

About the wiki, at first sight, it is not possible to make a PR... What perhaps could be done: you could fork the [wiki projet](https://github.com/quick-perf/doc), update it and I would report the modifications in the QuickPerf wiki.

Kind regards,

Jean

[2020-07-03 20:52] FTarfasse commented on #90
![ExpectJdbcBatching_Javadoc](https://user-images.githubusercontent.com/41832786/86496947-d0cfd880-bd7f-11ea-8ece-7e1d84aedff7.png)

[2020-07-03 21:20] FTarfasse commented on #90
Hello Jean,

So, after today's deep dive in the docs I need your opinion on these points please:
1. Below is a draft with the @ExpectJdbcBatching annotation javadoc I generated locally (I took as a reference JUnit4's way of "javadocumenting" things).
Is it ok for you ? I adapted the wiki infos .

2. As I was reading SQL annotations tests I noticed that [@DisableCrossJoin](https://github.com/quick-

[2020-07-04 10:20] jeanbisutti commented on #90
Hello Fabrice,

1. It's great!

   Some improvements:
   * "Batching  of inserts, updates and deletes statements allows" => ""Batching  of insert, update and deletesstatements allows". I fixed the wiki.
   * In Javadoc, replace some `*...*` by `<code>..</code>`
   * Add a line break before `Example:`

2.  `@DisableCrossJoin`  and `@DisableCrossJoin` should be removed (not in the scope of this issu

[2020-07-06 17:10] FTarfasse commented on #90
Hi Jean,

Thank you for your previous feedback, every time I think I got a good understanding on part of the code base something unexpected comes in the way :).

Concerning the issue, I pushed to my master branch all the Javadoc I added on the SQL annotations (I rebased before today). Do you prefer reviewing "there" or should I do a PR (I have no clue which is the easiest from your perspective) ?

[2020-07-09 14:32] jeanbisutti commented on #90
Hi Fabrice,

I am sorry to reply a few days later.

Many thanks for your work. It's great!

I suggest some modifications [on your master branch](https://github.com/FTarfasse/quickperf/commit/943fda0e34d48fe6ae911ea274b72ca18b722661).

 Don't hesitate to do a PR in QuickPerf repo.

Kind regards,

Jean

[2020-07-10 08:23] jeanbisutti commented on #90
Hi Fabrice,

Many thanks for you last code update!

[I suggest other modifications](https://github.com/FTarfasse/quickperf/commit/b4b4ad618bbcc7f092e00061c30f1df107f17e88).

What do you think?

Kind regards,

Jean

[2020-07-10 08:54] FTarfasse commented on #90
Hi Jean,

Thanks for your feedbacks ! What I did was to:

- Replace "Cancel" by "Cancels" and "Optionnaly specifies" by "Specify"
- Correct links between enable and disable annotations
- Replace @ by their corresponding html entity in DisplaySql and remove Javadoc duplicate in DisplaySqlOfTestMethodBody (this why the number of added lines is lower in the latest commit).

New commit is [here](https

[2020-07-10 09:12] jeanbisutti commented on #90
Thank you Fabrice.

"Specify" should not be replaced with "Specifies"?

Kind regards,

Jean

[2020-07-10 09:45] FTarfasse commented on #90
You are correct :), I fixed it (I also updated ExpectJdbcBatching the same way: Optionnaly specify => Specifies) !

[2020-07-10 12:15] jeanbisutti commented on #90
Great! OK to create a PR?

[2020-07-10 13:58] jeanbisutti commented on #90
Fixed with  ccaf9b083454762074bc11f6d9d4251b3203df53

[2020-07-10 13:58] jeanbisutti commented on #90
Thank you Fabrice!

[2020-07-10 13:58] #90 closed

[2020-07-10 14:42] FTarfasse commented on #90
My pleasure :) !

[2020-07-10 17:25] FTarfasse opened #93 "@ExpectMaxQueryExecutionTime alert message always displays "0 ms" as max"
Hello Jean,

I noticed the following, I'd be happy to have your opinion on this:

**Describe the bug**
When using [@ExpectMaxQueryExecutionTime](https://github.com/quick-perf/quickperf/blob/master/sql/sql-annotations/src/main/java/org/quickperf/sql/annotation/ExpectMaxQueryExecutionTime.java), the console alert message always displays 0 ms in "_**[PERF] At least one request exceeds the max expecte

[2020-07-11 13:25] jeanbisutti commented on #93
Hello Fabrice,

Thanks a lot for this report.

Indeed, there is an issue in the error report when the threshold is expressed with `TimeUnit.MICROSECONDS` or `TimeUnit.NANOSECONDS`.

In `SqlQueryMaxExecutionTimeVerifier` class:

[code]
If we look at the `toString()` implementation of `ExecutionTime`:
[code]

If `unit` value is `TimeUnit.MICROSECONDS` or `TimeUnit.NANOSECONDS` then ` unit.toMillis(v

[2020-07-11 15:32] FTarfasse commented on #93
Hi Jean,

Thanks again for the clarifications (especially on ttddyy).

Your idea of removing the time unit from the interface is appealing (always having an int value representing milliseconds). I can make a draft to see where this will lead me, I'm sure I will ask you more questions later :).

I will give you an update soon.

Kind regards,
Fabrice

[2020-07-22 15:33] FTarfasse commented on #93
Hi Jean,

Sorry for the delay, I made a draft starting from your idea (don't consider the two previous commits, I forgot Git reports everything even when cautiously working on a separate branch).
The "good" commit is [here](https://github.com/FTarfasse/quickperf/commit/b86021f2a436a93a2bdbfc6071fa5746b3f4ec56).

Notice I tweaked the alert message from [SqlQueryMaxExecutionTimeVerifier](https://git

[2020-07-23 10:57] jeanbisutti commented on #69
Hi @rimow,

Can I help you?

In your QuickPerf clone, don't hesitate to rebase on master and push your code so that I could help you.

Are you still interested in working on this issue?

Kind regards,

Jean

[2020-07-23 13:34] jeanbisutti commented on #93
Hi Fabrice,

Many thanks for your work. Don't worry about the delay. You are welcome.

Good idea Fabrice.

"Effective" may seem ambiguous.

Perhaps, we could propose something looking like

[code]

With several queries, the user can find the query taking a long time by looking at the console:

[code]

`Time:1 ` means that the query takes 1 ms. We could update the documentation.

You are right. The

[2020-07-23 17:02] FTarfasse commented on #93
Hi Jean,

Happy to help ! Here is an updated [commit](https://github.com/quick-perf/quickperf/commit/fe9d338abae42be94fd42566e1ff10f31fc37172) based on your feedbacks. To sum up:
- added assertj assertions as discussed,
- refactored (presentation) to match existing BDD style of other tests,
- added assertion testing for the message itself.
If ok I'll rebase and squash to do a proper PR on the mast

[2020-07-23 19:28] jeanbisutti commented on #93
Hi Fabrice,

It's perfect!

I will update the wiki from your proposal just after the next release, together with quickperf examples.

Many thanks for your contributions Fabrice!

Kind regards,

Jean

[2020-07-23 20:07] FTarfasse commented on #93
It's been a pleasure !

[2020-07-23 21:13] jeanbisutti commented on #93
Fixed with bbb561bd1eeeeab228e12688b14a571bfd9592b9

[2020-07-23 21:13] #93 closed

[2020-07-23 21:29] FTarfasse commented on #78
Hello Jean,

I would like to work on this issue (did I ever mention that I really like the Sql annotations in Quickperf ?).

Kind regards,
Fabrice

[2020-07-23 21:30] FTarfasse commented on #61
Hello Jean,

Is this still in the pipe, if I m not mistaking I remember you planned to remove @EnableCrossJoin / @DisableCrossJoin ?

Kind regards,
Fabrice

[2020-07-24 08:15] jeanbisutti commented on #78
Hello Fabrice,

Great!

I assign the issue to you. Don't hesitate to tell me if I can help you.

Happy you like the SQL annotations! :)

Kind regards,

Jean

[2020-07-24 08:21] jeanbisutti commented on #61
Hello Fabrice,

Yes, thank you for the reminder.

I could remove @EnableCrossJoin / @DisableCrossJoin unless you want to work on it.

Kind regards,

Jean

[2020-07-24 13:48] heanzyzabala commented on #69
Hi @jeanbisutti

I would like to work on this issue instead if I may.

[2020-07-27 11:54] jeanbisutti commented on #69
Hello @navkumar258 and @heanzyzabala,

I  had no news from @rimow for more than three weeks.

@navkumar258 asked for working on this issue on 25 June, @heanzyzabala asked three days ago.

@navkumar258 are you still interested in working on this issue?

If not, maybe that @heanzyzabala would still be interested.

Kind regards,

Jean

[2020-07-27 14:31] navkumar258 commented on #69
@jeanbisutti Yes, am still interested...thanks :smile:

[2020-07-27 17:06] FTarfasse commented on #78
Hi Jean,
Here's a first version, let me know what you think. I tried so be as concise as possible.

![micronaut-alert](https://user-images.githubusercontent.com/41832786/88570080-c1207880-d03b-11ea-80eb-dbbb7dd6edee.png)

Kind regards,
Fabrice

[2020-07-27 17:24] jeanbisutti commented on #69
@navkumar258 Great! I assign the issue to you.

@heanzyzabala [Other good first issues](https://github.com/quick-perf/quickperf/issues?q=is%3Aissue+is%3Aopen+label%3A%22%3Athumbsup%3A+good+first+issue%22) may interest you.

[2020-07-27 19:29] jeanbisutti commented on #78
Hi Fabrice,

Thanks a lot for this proposal.

What do you think about the following version?

[code]

I think that the JPA part is not needed because the issue focuses on Micronaut Data (that would be detected from the classpath in this issue).

Kind regards,

Jean

[2020-07-28 10:32] FTarfasse commented on #78
Hi Jean,

Thank you for your feedbacks ! I was unsure about the best way to speak about "micronaut-data": micronaut ? Micronaut ? Micronaut-data ? Micronaut-Data etc.
Anyway, I removed the entity graph suggestion as you suggested to keep the message concise.

I also added a blank space in the JDBC suggestion message to align it (I notice it when testing, see below). "Be careful etc ..." was not al

[2020-07-29 20:17] jeanbisutti commented on #78
Hi Fabrice,

Many thanks! I appreciate your good quality contributions and your relevant observations.

Just one thing to add on this contribution: supply the Micronaut Data suggestion in [HasSameSelectTypesWithDiffParamValuesVerifier](https://github.com/quick-perf/quickperf/blob/master/sql/sql-annotations/src/main/java/org/quickperf/sql/select/HasSameSelectTypesWithDiffParamValuesVerifier.java).

[2020-07-30 10:28] FTarfasse commented on #78
Hi Jean,

Thank you for the feedbacks and clarifications. I have added the Micronaut suggestion to the missing verifier (sorry I missed that one). You can check it [here](https://github.com/FTarfasse/quickperf/commits/Issue_78). As soon as it is complete from your perspective I ll prepare a clean PR.

Regading the JVM system property (and after a bit of research), I was unaware we could create cus

[2020-07-30 13:13] VinitaNirmal commented on #89
Is the task that, we have to add the comments on top of the annotations??

[2020-07-30 20:24] jeanbisutti commented on #78
Hi Fabrice,

Thank you for your last modifications.

Go for the PR. :)

Regarding the JVM property, you can access a property value from `System.getProperty(key)`. Don't hesitate if you have any questions.

Kind regards,

Jean

[2020-07-30 20:38] jeanbisutti commented on #89
Hello,

Javadoc has to be added in the JVM annotations in [the same way it is done for SQL annotations](https://github.com/quick-perf/quickperf/commit/ccaf9b083454762074bc11f6d9d4251b3203df53), with a package info.

Kind regards,

Jean

[2020-07-31 07:10] jeanbisutti commented on #78
Fixed with 5ec7f2336b031999ac792e0244f553c7cb96622d

[2020-07-31 07:10] #78 closed

[2020-07-31 13:36] FTarfasse commented on #84
Hello,

I'd like to give this a try.
@jeanbisutti, in terms of functionality would working withe the actual @JvmOption and a custom QuickPerfConfiguration (for global scope) be a solution to explore ?

Thanks,

Kind regards,
Fabrice

[2020-07-31 15:41] navkumar258 commented on #69
@jeanbisutti Made the changes as per the implementation steps in the issue description above, but after running mvn clean install, getting the below ClassCastException in the ExpectMaxInsert and ExpectMaxDelete tests.

`[ERROR] Failures:
[ERROR]   ExpectMaxDeleteTest.should_fail_if_the_number_of_sql_statements_is_greater_than_the_number_expected_with_annotation_on_class:76 expected:<[1]> but was:<

[2020-07-31 15:56] jeanbisutti commented on #84
Hello Fabrice,

The main use case would be to limit what we printed on the console during the execution of a CI build. If one test fails, the developer could launch it from his computer with all the information that could help him to fix the issue.

Let's take an N+1 select example:
[code]

We could only keep this part in the CI build
[code]

We could also provide a way not to display the JDBC bat

[2020-07-31 16:57] jeanbisutti commented on #69
Hello @navkumar258,

Thank you for your work.

To fix this issue, in `SqlAnnotationsConfigs` class, replace
[code]
by
[code]

Could you please rebase on master? Be careful: today the `sql-integration-test`  Maven module was renamed into `sql-memory-test`.

Please apply the following code modifications:
* don't commit the `targetallocation-results.txt` file
* don't modify the exiting imports in `Sq

[2020-08-01 12:02] navkumar258 commented on #69
@jeanbisutti it was such a silly mistake, my bad. Incorporated the changes as suggested by you and opened a PR, please review. thanks :smile:

[2020-08-01 12:08] navkumar258 commented on #7
@jeanbisutti i can start working on this, please share some ides about how to start...scope,pages,layout,etc. thanks !

[2020-08-01 16:02] jeanbisutti commented on #69
@navkumar258 [I reviewed the code.](https://github.com/quick-perf/quickperf/pull/97#pullrequestreview-459586939)

Could you please update it?

[2020-08-01 16:04] jeanbisutti commented on #7
@navkumar258 I will detail what is expected

[2020-08-01 17:48] navkumar258 commented on #69
@jeanbisutti Done, please check and update. thanks !

[2020-08-01 20:17] jeanbisutti commented on #69
Thank you @navkumar258

[2020-08-01 20:18] jeanbisutti commented on #69
Fixed with 8e27123d7b2b044e5bdf50c7e6d4cd1e97416d5a

[2020-08-01 20:18] #69 closed

[2020-08-02 22:14] FTarfasse commented on #84
Hi Jean,

Thank you for the hints and insights.

I think the question would be to know if we base this feature on a boolean logic (display or no display) or can / should we have more nuances in terms of informations (nothing, something, everything) ?
Anyhow, I ll work on a flexible way to meet the actual idea of the feature. I ll get back to you (two) for adjustments and feedbacks.

Thanks,

Kind

[2020-08-03 07:18] jeanbisutti commented on #84
Hi Fabrice,

Perhaps. I just would like that the configuration stays simple to use and explicit.

It seems an excellent idea to discuss from a first implementation.

Thanks Fabrice.

Don't hesitate if you have any questions.

Kind regards,

Jean

[2020-08-03 17:03] jeanbisutti opened #98 "Add @ExpectNoInflaterMemoryLeak"
`java.util.zip.Inflater` can cause non-heap memory leaks, as explained in [this presentation](https://vimeo.com/233843335).  They can be detected during the application execution thanks to [_the Leakchecker project_](https://github.com/elastic/leakchecker).  This issue aims to provide an `@ExpectNoInflaterMemoryLeak` annotation in QuickPerf to detect this memory leak as soon as possible. The `@Exp

[2020-08-03 17:25] navkumar258 commented on #98
@jeanbisutti does it require a deep understanding of quickperf or can i take it and start working with your assistance. thanks :smile:

[2020-08-03 19:19] jeanbisutti commented on #98
@navkumar258 It is more complicated than #69. I will have little time until October to help. I am going to focus my efforts on QuickPerf 1.0. This issue is planned for QuickPerf 1.1 (around November). Would you still be interested in #7? I could provide details for #7 next Wednesday.

[2020-08-04 11:43] navkumar258 commented on #98
@jeanbisutti Yeahh, sure. Let us focus on #7 first...thanks !

[2020-08-05 16:36] jeanbisutti commented on #7
@navkumar258

The web site will use on Jekyll with a [Minimal mistakes style](https://mmistakes.github.io/minimal-mistakes/).

@loicmathieu started a prototype:
* https://github.com/loicmathieu/quickperf.io
* https://loicmathieu.github.io/quickperf.io/

You could continue from this.

In the header, it would be nice to add:
* A Twitter logo pointing to https://twitter.com/quickperf
* A YouTube logo

[2020-08-05 16:54] navkumar258 commented on #7
@jeanbisutti seems like a lot of work to do.... :smiley: .Will start working once familiar with the above docs. Hope there are no stringent timelines...?!

[2020-08-05 17:12] jeanbisutti commented on #7
No problem @navkumar258, progress at your own pace

[2020-08-09 10:35] jeanbisutti commented on #33
Fixed with a68fa6abfec5ae32a55f5812a74b4d34d2981db2

[2020-08-09 10:35] #33 closed

[2020-08-19 17:31] FTarfasse commented on #84
Hi Jean,

Here's the [code](https://github.com/FTarfasse/quickperf/commit/14d16f0b45cdfe9481d812932c93e788a72fa46c?branch=14d16f0b45cdfe9481d812932c93e788a72fa46c&diff=split) based on today's discussion (thanks again for your time :) ).

Note that I have:
- refactored HasSameSelectTypesWithDiffParamValuesVerifier.java to allow custom reporting.
-  did not push any test or test modifications (as al

[2020-08-21 08:43] jeanbisutti commented on #84
Hi Fabrice,

You are welcome!

The modifications seem ok for me. Could you please rebase on master and after that create a PR? So, I could merge the changes.

Would you like to work on @ProfileJvm part? A `SystemProperties` value has to be added and,   in `DisplayJvmProfilingValueVerifier`, I think that this type of code has to be added:

[code]

Kind regards,

Jean

[2020-08-24 09:05] jeanbisutti commented on #84
Hi Fabrice,

I refactored the code.

SELECT suggestions are now  gathered [here](https://github.com/quick-perf/quickperf/blob/master/sql/sql-annotations/src/main/java/org/quickperf/sql/select/analysis/SelectAnalysis.java#L42).

Kind regards,

Jean

[2020-08-24 10:08] FTarfasse commented on #84
Hi Jean,

Duly noted ! I am updating everything in my local branch based on your refactoring. I'll send a PR today hopefully.

Kind regards,
Fabrice

[2020-08-24 13:45] jlerbsc opened #100 "Improving design"
I analyzed the source code of the quickperf sql subproject with my own 3d analyzer tool.

http://jperf.com/qperf/

Probably it can help you to improve your project, you can navigate into classes/interfaces or packages and see all the relationships between all the components (visibility option) or analyse the complexity from various aspects (dependencies between classes, responsability, or lines of

[2020-08-24 14:32] FTarfasse commented on #84
Jean,

What kind of behavior should be expected from a disabled @ProfileJvm display ? Should we keep [JFREventsLoader](https://github.com/quick-perf/quickperf/blob/f6f46570a59b2a5bfddb17b942aab464a28d2983/jvm/jfr-annotations/src/main/java/org/quickperf/jvm/jfr/JFREventsLoader.java#L42) message ? This class handles this part of the message in the @ProfileJvm report system (it is the first part befo

[2020-08-24 16:34] loicmathieu commented on #72
I have a better understanding on what's going on here.

Quarkus uses Vert.x and all I/O are done via a worker thread.
The `SqlRecorderRegistry` is called inside the main thread and the `DataSourceQuickPerfListener` is called via a worker thread as it is called via the datasource layer.

So we cannot use a `ThreadLocal` storage to store the `SqlRecorder` result as it is done today, it cannot work f

[2020-08-24 20:54] jeanbisutti commented on #84
Fixed with #101 7a5fed74936f6667e810a4737eda87318248dbec

Thanks @kanedafromparis for the idea and @FTarfasse for the implementation!

[2020-08-24 20:54] #84 closed

[2020-08-24 21:02] jeanbisutti commented on #100
Interesting tool! Thank you @jlerbsc!

If you can find the time, I would be interested in having an analysis of [the core module](https://github.com/quick-perf/quickperf/tree/master/core).

[2020-08-25 06:47] jlerbsc commented on #100
The 3d view of the core module is here http://jperf.com/qperf/core.html

You can zoom in/out in the view with the mouse and wheel, revolve around the graph with left mouse click and center the view with right mouse click.

Use filter to simply the view and problems to see coupling...

[2020-08-25 07:14] jeanbisutti commented on #100
Interesting! Thank you @jlerbsc! I noted the links.

[2020-08-25 07:14] #100 closed

[2020-08-25 07:32] jlerbsc commented on #100
Il n'y a pas de quoi... C'est ma petite contribution à ce projet ;-)

[2020-08-25 17:18] FTarfasse commented on #88
Hi Jean,

I would like to work on this please.

Question: can you precise me the difference between @[FunctionalIteration](https://github.com/quick-perf/quickperf/blob/b3f71aba6a43e09dd589bd97a7e955acc628f143/core/src/main/java/org/quickperf/annotation/FunctionalIteration.java#L21) and @[DisableQuickPerf](https://github.com/quick-perf/quickperf/blob/b3f71aba6a43e09dd589bd97a7e955acc628f143/core/sr

[2020-08-25 20:19] jeanbisutti commented on #88
Hi Fabrice,

Great! I assign this issue to you.

`@FunctionalIteration` and `@DisableQuickPerf ` have the same behavior. They disable QuickPerf.

During a feature implementation, `@FunctionalIteration`  is more explicit than `@DisableQuickPerf` about focusing on functional behavior (not performance behavior) in a first step. Without `@FunctionalIteration` or `@DisableQuickPerf`, the test may fail

[2020-08-26 09:03] jeanbisutti commented on #72
Thanks for these explanations.

Tests may be executed in parallel. They have to be independent of each other. The thread local implementation allows this when these tests are executed in only one JVM and when the thread executing the test methods also calls the datasource. When the test method and the datasource are called from different threads, the thread local implementation cannot work. When a

[2020-08-26 09:18] loicmathieu commented on #72
I can't as forking the VM didn't work for Quarkus because we fork too late.
If I remove the threadlocal it works, but I agree it will not work when tests are executed in parallel.

I think supporting tests in parallel is less important than supporting all the major microservice frameworks.
If test are executed in parallel, we could still be able to have a unique test identifier somehow ...

[2020-08-26 09:50] jeanbisutti commented on #72
Could you please provide a project example reproducing the problem? Thanks

[2020-08-29 15:37] FTarfasse commented on #88
Hello Jean,

I re-submitted a PR with your feedbacks. I tweaked a bit your proposal for @FunctionalIteration.

Let me know your opinion !

Kind regards,
Fabrice

[2020-08-29 18:27] jeanbisutti commented on #88
Hello Fabrice,

That's great! Many thanks Fabrice!!!

Thank you a lot for all your contributions.

Kind regards,

Jean

[2020-08-29 18:27] jeanbisutti commented on #88
Fixed with a3855ed6a292302fc3bc3de7db376565b414631c

[2020-08-29 18:27] #88 closed

[2020-08-29 18:37] FTarfasse commented on #88
As always, happy to help !

[2020-08-30 10:46] FTarfasse commented on #89
Hello Jean,

Is anyone working on this ? I can do it if it is not the case (to finish the topic for once and for all !).

Kind regards,
Fabrice

[2020-08-30 13:35] jeanbisutti commented on #89
Hello Fabrice,

Nobody is working on this issue. I assign it to you.

Many thanks for your contributions.

Don't hesitate if you have any questions.

Kind regards,

Jean

[2020-08-31 13:55] loicmathieu opened #104 "Improve SQL annotation issue due to the framework debugging"
**Description**
Improve SQL annotation issue due to the framework debugging by generating a specific exception when no query has been intercepted.

**Implementation ideas**
1. When one of the SQL annotation is used but no query has been intercepted, throw a specific exception with possible causes. This is specifically important for annotation like `@ExpectMax[...]` as it will validate no queries.

[2020-08-31 17:37] jeanbisutti commented on #72
With Quarkus 1.3 and a JVM annotation, I got an `Address already in use: bind` because the `beforeAll(ExtensionContext context) method` of `QuarkusTestExtension` is called two times, once in each JVM (the main JVM and the JVM where the test method is executed).

To have Quarkus JUnit 5 extension executed only in the JVM where the test method is executed, I wanted to test the following solution:

[

[2020-09-02 10:24] loicmathieu commented on #72
@jeanbisutti as `QuarkusTestExtension` implements `BeforeAllCallback` and `AfterAllCallback`, you need to use a static attribute when using the extension with ` @RegisterExtension`.

[code]

See for details **Static Fields** section of the dcumentation: https://junit.org/junit5/docs/5.1.1/api/org/junit/jupiter/api/extension/RegisterExtension.html

[2020-09-02 10:59] jeanbisutti commented on #72
@loicmathieu, thanks

The [example](https://github.com/jeanbisutti/quickperf-quarkus) is updated with a static field.

However, it does not work.

`mvn clean test -Dtest=PlayerControllerTest` leads to the following error report:

[code]

As you kwow well Quarkus could you please have a look?

[2020-09-02 13:42] loicmathieu commented on #72
@jeanbisutti can you try with Quarkus 1.7.0 ?
And if you can share your code in a branch I'll be able to work on it more easily

[2020-09-03 16:27] loicmathieu commented on #104
@jeanbisutti I saw you assign it to yourself, I can take care of this one if you want.

[2020-09-03 16:31] loicmathieu commented on #98
Tomcat has a lot of memory leak protections since version 7: https://cwiki.apache.org/confluence/display/TOMCAT/MemoryLeakProtection

Maybe we can create multiple memory leak detection based on those examples. This could be a very cool addition to what quickperf already does!

[2020-09-03 17:39] jeanbisutti commented on #104
@loicmathieu Thank you for your proposal. I have implemented a large part. I try to finish this week.

[2020-09-04 11:38] loicmathieu commented on #72
So you need to defines the annotation as a static attribute:

[code]

Then we're facing a new issue: `No bean found for required type [class org.quickperf.quarkus.quarkustest.controller.PlayerControllerTest] and qualifiers [[]]`.

Quarkus register the test classes as a CDI bean to be able to make injection inside it.
And as the Test is not annotated with `@QuarkusTest` it is not discovered as a CD

[2020-09-04 12:58] loicmathieu commented on #72
It's a tricky issue, we must register the extension with the `QuarkusTestExtension` type not the `Extension` type.

[2020-09-04 14:16] jeanbisutti commented on #72
It's better with Quarkus 1.7 and QuarkusTestExtension .

I quickly add new code in [this project](https://github.com/jeanbisutti/quickperf-quarkus/tree/master/src/test/java/org/quickperf/quarkus/quarkustest/controller) to have Quarkus and QuickPerf extensions working together. It does not work yet. I imagine that things should be adjusted in QuarkusTestExtensionDoingNothing class. In the following

[2020-09-04 15:00] loicmathieu commented on #72
I was trying exactly the same a few hours ago ;) and didn't succeed either.
I'll try to find what's going on because this seems to me that it should works.

[2020-09-04 16:26] loicmathieu commented on #62
You can intercept Dynamic Tests so it should be possible.
I'll give it a try if I find some time.

[2020-09-07 12:10] loicmathieu commented on #62
I have a quick look at this one and it's easily feasible to support SQL annotations but not JVM one (as it needs to fork the VM and we misses some information from JUnit to know which test is being executable and we need this information to know which method to execute is the new VM).

If it is of interest to provides support for SQL annotations only in JUnit5 dynamic test, I can create a PR for t

[2020-09-07 15:59] loicmathieu opened #109 "TestNG tests are not reliable"
**Describe the bug**
TestNG tests are not reliable.

I have one failure when running the test suite locally on Java 11, relaunching the test suite make the test pass

[code]

I saw one failure in the CI on Java 8: https://travis-ci.com/github/quick-perf/quickperf/jobs/381900662

[2020-09-07 16:07] jeanbisutti commented on #109
Thanks. I don't think it happens often.

[2020-09-07 16:07] #109 closed

[2020-09-07 16:08] loicmathieu commented on #109
Two times in the same day ...
I really think you should keep this one open to trace these issues at least.

[2020-09-09 12:24] jeanbisutti commented on #62
Great @loicmathieu! Perhaps you may give an example of how it would be possible to use QuickPerf SQL features together wirh dynamic JUnit 5 tests. With @billybong we could give feedbacks on this API.

[2020-09-09 13:41] loicmathieu commented on #62
In fact I do have a raw example as I have a basic prototype to support dynamic tests (and it should be easy to support test templates the same way).

The prototype is here: https://github.com/quick-perf/quickperf/compare/master...loicmathieu:junit5/dynamic-tests

There is a lot of different way to defines dynamic tests, if you define one dynamic test per test factory method it will works the same

[2020-09-09 14:15] jeanbisutti commented on #62
This first implementation of dynamic tests seems already interesting!

An interesting use case would be to apply [the recommended global annotations](https://github.com/quick-perf/doc/wiki/SQL-annotations#configure-global-annotations).  @loicmathieu Is global annotation configuration applied to dynamic tests?  The answer is probably yes. If not, the recommended global annotations could be added on

[2020-09-09 14:28] loicmathieu commented on #62
@jeanbisutti it needs more tests to cover all possible ways to defines dynamic tests but I think it will also works with global annotation (I don't see why it will not works).

I'll implements more tests and also provides an example application as it will be easier for user to understand what is supported by providing an example application.

[2020-09-10 15:01] jeanbisutti commented on #104
Implemented

[2020-09-10 15:58] jeanbisutti commented on #89
Hi Fabrice,

Don't worry about the delay. I looked at your draft. It's great, many thanks! I made [a few suggestions](https://github.com/FTarfasse/quickperf/commit/9bd81c6587d5d03eaab14372d5f066aad32e7511). Don't hesitate if you have any questions, and don't hesitate to submit a PR!

 About, `@ProfileQuickPerfInTestJvm` there was a bug with JDK > 1.8. Thank you for the report. The aim if this anno

[2020-09-10 16:34] FTarfasse commented on #89
Hi Jean,

Thanks for your feedbacks !
I added a new [commit](https://github.com/FTarfasse/quickperf/commit/52718d17ef400e49ab0546126e8bc47d63e2b463) based on your suggestions as I wanted the corrections to be clear (I'll squash everything for the PR).

Kind regards,
Fabrice

[2020-09-13 13:37] jeanbisutti commented on #62
@loicmathieu
Could you please update the documentation for the next release?
I copied the wiki pages in [this repo](https://github.com/jeanbisutti/quick-perf-doc-1.0).
The JUnit 5 wiki page is [here](https://github.com/jeanbisutti/quick-perf-doc-1.0/wiki/JUnit-5). You should be able to edit the wiki pages directly from GitHub.
You can also clone this wiki: `git clone https://github.com/jeanbisutti

[2020-09-16 12:17] jeanbisutti commented on #89
Fixed with 9ab2d8e1b9c548a4f406eda2201632cf4fdabc4d.

Thank you @FTarfasse!

[2020-09-16 12:17] #89 closed

[2020-09-23 17:09] loicmathieu commented on #62
@jeanbisutti doc done.
As soon as a version is available I can also provides some example inside the example repository

[2020-10-09 14:27] loicmathieu opened #115 "Support JVM annotations for dynamic tests"
**Describe the bug**
Today, due to a limitation on JUnit 5 dynamic test interceptor support, we cannot implement the support of dynamic tests for JVM annotations.

This should be fixed on JUnit 5.8, see https://github.com/junit-team/junit5/pull/2445

[2020-10-09 14:29] loicmathieu commented on #115
@jeanbisutti this is a remainder issue to provides support for it when my PR on JUnit 5 that make this possible would be merged.
Please assign it to me.

[2020-10-09 16:31] jeanbisutti commented on #115
Thank you @loicmathieu

[2020-10-27 19:43] nicokosi opened #126 "Cannot rebuild and check how the output matches reference in the Central Repository"
With the help from @hboutemy, I tried to check if QuickPerf 1.0.0-RC7's build is reproducible via [reproducible-central](https://github.com/jvm-repo-rebuild/reproducible-central), see issue https://github.com/jvm-repo-rebuild/reproducible-central/issues/16. Our first attempt showed that the build is not reproducible because an internal SNAPSHOT dependency cannot be found:

org.apache.maven.lifecyc

[2020-10-27 20:21] jeanbisutti commented on #126
Thanks a lot @nicokosi and @hboutemy for trying to check if QuickPerf 1.0.0-RC7 is reproducible. Indeed, `quick-perf-junit5-test-util:jar:tests:1.0-SNAPSHOT` is an internal dependency used by testing modules, for example `junit5-jvm-test`.
`quick-perf-testng-test-util`, `quick-perf-sql-hibernate-test-util` and  `junit4-spring-base-tests` are also internal dependencies used by testing modules. All

[2020-10-28 06:15] nicokosi commented on #126
Thanks @jeanbisutti for your quick feedback. 🤗

May the Maven `revision` placeholder can be used, as explained in ["Maven CI Friendly Versions"](https://maven.apache.org/maven-ci-friendly.html)?

PS: you may want to remove the "bug" label from this issue (since it does not affect QuickPerf users)... 😇

[2020-10-28 07:12] hboutemy commented on #126
@jeanbisutti how are we supposed to build (IIUC install) these dependencies, so the main build finds them?

[2020-10-28 07:53] hboutemy commented on #126
ok, I found the difference in profiles in https://github.com/quick-perf/quickperf/blob/master/testng/pom.xml , now I understand how you did

if we build with default profile, the build will work but we'll have issues when comparing with Central Repository because these test libraries are not published.
if we build with release profile, we'll get expected artifacts and source jars, but the build wi

[2020-10-28 09:51] jeanbisutti commented on #126
@hboutemy @nicokosi Thank you for your investigations and explanations.

In the next days, I plan to release QuickPerf 1.0.

To have a reproducible build, I propose to change the QuickPerf build, and perhaps the Maven modules used for testing, in the frame of QuickPerf 1.1.

@nicokosi, you are very welcome if you want to work on this. The precious  advice from @hboutemy is also very welcome.

[2020-10-28 21:12] jeanbisutti commented on #3
Remaining cases (LIKE, IN, BETWEEN, ...) fixed with 81f61b750c3fcfeab527db5128edcac05339996e

[2020-10-28 21:12] #3 closed

[2020-10-29 16:58] hboutemy commented on #126
PR #130 opened to apply the `maven.deploy.skip` property to modules that require to be built because they are used during tests, but avoid to ship test artifacts

[2020-10-30 08:19] jeanbisutti commented on #126
I did not succeed to deploy with these modifications, [see](https://github.com/quick-perf/quickperf/pull/130#issuecomment-719030918).

To deploy the release candidates, the following command lines were executed:

[code]

The published RC versions allow to use QuickPerf.

[code]
 => the pom versions of the not published artifacts would not be updated...

=> QuickPerf build has to be improved

[2020-10-30 18:07] jeanbisutti commented on #126
I merged #130. Many thanks @hboutemy

[2020-11-18 22:41] gmarziou opened #131 "Unable to disable QuickPerf on a test method"
Hello,

Using QuickPerf 1.0, JUnit 5, Spring Boot 2.3.

I have a repository test class that is annotated with `@QuickPerfTest` but it contains few `@ParameterizedTest` annotated methods that are not supported so I tried to disable them by annotating them with `@DisableQuickPerf` but it does not work: they are still in error

[code]

[2020-11-19 16:07] jeanbisutti commented on #131
`@ParameterizedTest` uses JUnit 5 test template ([JUnit 5 code](https://github.com/junit-team/junit5/blob/main/junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedTest.java#L123)). QuickPerf 1.0.0.  does not support JUnit 5 test template. There is the #114 PR to support it. :) I am going to review it. After the merging of this PR, I could deploy a snapshot version of QuickPerf

[2020-11-20 01:41] gmarziou commented on #131
Thanks @jeanbisutti this would be great but you don't need to deploy a snapshot version, I can build it locally and test it.

[2020-11-20 13:01] jeanbisutti commented on #131
Hello @gmarziou, for information, I reviewed  #114 PR

[2020-11-20 15:52] jeanbisutti commented on #62
@billybong

QuickPerf 1.0.0 was released. _QuickPerf SQL annotations_ work with JUnit 5 dynamics tests. The documentation is [here](https://github.com/quick-perf/doc/wiki/JUnit-5#dynamic-tests).

About dynamic tests and _QuickPerf JVM  annotations_, we created the #115 QuickPerf issue.  It should be fixed on JUnit 5.8, see junit-team/junit5#2445.

I am going to close this issue. If you need anythi

[2020-11-20 15:52] #62 closed

[2020-11-23 21:20] jeanbisutti commented on #131
Hello  @gmarziou,  #114 was merged.

If you have time,  it would be nice to check that everything is now fine in your tests with QuickPerf master.

[2020-11-23 23:38] gmarziou commented on #131
It works fine! Thanks to both @jeanbisutti and @loicmathieu

[2020-11-23 23:38] #131 closed

[2020-11-24 00:32] gmarziou opened #132 "Wrong report about lack of JDBC batching for update query?"
**Describe the bug**

I have a test of a query that updates a column in multiple rows using a where clause and `spring.jpa.properties.hibernate.jdbc.batch_size=25` and I get a "JDBC batching is disabled." error.

**Expected behavior**

No error because it's a single query highly optimized.

**Actual behavior**

"JDBC batching is disabled." error.

**To Reproduce**

I added a test in `ExpectJdbcBat

[2020-11-24 07:25] jeanbisutti commented on #132
Thank you for trying to reproduce a potential bug.

In your test case, one UPDATE query is executed without batching as shown in the error report: `Batch:False`

The test uses `ExpectJdbcBacting` annotation. So the test is failing because JDBC batching is not used.

The following test doesn't use a native query, and it does not fail with a single update:

[code]

Batching is enabled here (*Batch:T

[2020-11-24 09:47] gmarziou commented on #132
Maybe I over simplified in this test, my real query is below although it does not change fundamentally:

[code]

Also, in my test I have some functional assertions, so it means that in a real test you have several queries before and after the one that you test for perfs. To me, this is a limitation of using an annotation on test methods, ideally I'd prefer to have quickperf assertions I can insert

[2020-11-24 09:57] jeanbisutti commented on #132
`Also, in my test I have some functional assertions, so it means that in a real test you have several queries before and after the one that you test for perfs. To me, this is a limitation of using an annotation on test methods,`

I am not sure to understand. Just for clarification: apart from `DiplaySql ` annotation, the SQL annotations analyze the SQL generated from the test method body, not the

[2020-11-24 10:00] jeanbisutti commented on #132
If you have time, I would be interested in a test case.

[2020-11-24 10:12] gmarziou commented on #132
In fact when I had this issue, I put a breakpoint in
[SqlStatementBatchVerifier.verifyThatInsertUpdateDeleteExecutionAreBatched()](https://github.com/quick-perf/quickperf/blob/6b39dd3f61c5458804c44b4147d13657f56a93ad/sql/sql-annotations/src/main/java/org/quickperf/sql/batch/SqlStatementBatchVerifier.java#L42-L54) and the `measuredBatchSizesAsArray` variable contained 3 entries: [25, 20, 0] the las

[2020-11-24 10:12] gmarziou commented on #132
I'll do my best.

[2020-11-24 11:02] jeanbisutti commented on #132
It means that the code generates several JDBC executions with 25, 20, or 0 batch size. 0 batch size => at least one JDBC execution does not use the batch mode

[2020-12-14 09:10] klu2 opened #139 "Support org.junit.jupiter.params.ParameterizedTest"
**Describe the bug**

The usage of JUnit5's  `org.junit.jupiter.params.ParameterizedTest` leads to a `RuntimeException`.

**Expected behavior**
QuickPerf can handle parameterized tests, the annotations are applied to all test runs

**Actual behavior**
A RuntimeException is thrown.

**To Reproduce**

[code]

Leads to

[code]

**Versions**
- QuickPerf: 1.0.0
- JDK: 11
- OS: Windows

**Additional con

[2020-12-14 11:02] jeanbisutti commented on #139
@klu2 Thanks for using QuickPerf. Could you please bump to QuickPerf 1.0.1? QuickPerf 1.0.1 should work with parameterized tests.

[2020-12-14 11:32] klu2 commented on #139
oh, 1.0.1 is already there, I didn't see that.
just gave it a try, works like a charm.
thanks for this awesame framework!

[2020-12-14 11:32] #139 closed

[2020-12-18 13:23] jeanbisutti commented on #7
Hi @navkumar258,

Did you have the possibility to work  on this issue?

[2020-12-18 13:38] jeanbisutti opened #140 "Reorganize the Maven modules"
This issue aims to reorganize the Maven modules to supply a clean solution to #126.

@hboutemy  committed a workaround:  hboutemy@49b629a

[2020-12-18 13:38] #126 closed

[2020-12-18 13:54] jeanbisutti opened #141 "@AnalyzeSql"
This feature aims to create an AnalyzeSql annotation that will analyze the SQL generated by a test.

The annotation will produce a report containing information such as:
* JDBC execution numbers
* SELECT number
* INSERT number
* DELETE number
* UPDATE number
* The potential presence of an N+1 select
* Checks performed by [the recommended SQL global annotations](https://github.com/quick-perf/doc/wi

[2020-12-18 14:00] FTarfasse commented on #141
Hi Jean,

I'd be happy to work on this !

[2020-12-18 14:28] jeanbisutti opened #142 "Make @ProfileJvm displays the method allocating the most"
Today, @ProfileJvm displays JVM-related information on the console:
[code]

This issue aims to display the method allocating the most.

[2020-12-18 14:29] jeanbisutti commented on #142
@archyoshi , you started to work on this?

[2020-12-18 14:31] jeanbisutti opened #143 "Detect database connection leaks"

[2020-12-18 14:36] archyoshi commented on #142
Hello @jeanbisutti , I was planning to work on it starting from tonight, I will let you take a look once I push 👍🏼

[2020-12-18 14:36] navkumar258 commented on #7
Heyy @jeanbisutti : No haven't progressed yet. Actually, I moved to a different role. If you want, assign it to someone else.

[2020-12-18 14:39] jeanbisutti commented on #142
Great @archyoshi! 👍

[2020-12-18 14:46] jeanbisutti commented on #7
@navkumar258 No problem You are welcome if you want to work on QuickPerf

[2020-12-18 15:22] jeanbisutti opened #144 "Add a lenient mode to @ExpectJdbcBatching"
Today, @ExpectJdbcBatching makes a test fails if INSERT, UPDATE or DELETE statements are executed without JDBC batching.

This issue follows #132. It aims to add a boolean `lenient` element to ExpectJdbcbatching annotation. The default value will be `false`.

With a `true` value, the test will not fail if  the batch size would be less than two with JDBC batching.  For example, if just one INSERT i

[2020-12-18 15:29] jeanbisutti commented on #132
@gmarziou I see what happens.

The following code executes one UPDATE without JDBC batching:
[code]

I created the #144 issue to add a `lenient` element to ExpectJdbcBathing annotation. With a `false` value, the test will not fail with the code above.

[2020-12-18 15:29] #132 closed

[2020-12-18 17:23] gmarziou commented on #144
This looks great.
However, I wonder whether true/false is enough or a numerical threshold would cover more use cases.

[2020-12-19 11:40] lhotari commented on #98
Btw. There is also Leak Canary from Square for detecting memory leaks. It's originally developed for Android apps, but there is some support for applying it for JVM apps: https://square.github.io/leakcanary/recipes/#detecting-leaks-in-jvm-applications .

[2020-12-19 17:22] jeanbisutti commented on #98
I ignored that Leak Canary could work with a JVM app. It would be interesting to reuse the Leak Canary HeapAnalyzer in QuickPerf.

[2020-12-19 17:27] jeanbisutti commented on #98
Information coming from interesting Twitter conversations about Leak Canary:
* https://twitter.com/Piwai/status/1340311708775145474?s=20
* https://github.com/square/leakcanary/issues/1917

[2020-12-19 17:53] jeanbisutti commented on #98
JFR may reveal some heap memory leaks with the help of the  Old Object Sample event: http://hirt.se/blog/?p=1055

QuickPerf can trigger JFR profiling and retrieve JFR events.

However, the Old Object Sample event was introduced in JDK 10. So, the heap leak detection would only work from this JDK version.

[2020-12-27 15:00] jeanbisutti commented on #143
Fixed with c0bd8842805cd782bc144cec38f050864a946db5

[2020-12-27 15:00] #143 closed

[2021-01-16 12:24] jeanbisutti opened #147 "Ability to profile a database connection"

[2021-02-18 10:37] guiRagh commented on #7
I am currently working on the jekyll website.
I added the social links in the header, I am waiting for Loic's news to have access to his repo to create Pull Request.

I am now looking at how to offer the option to change the theme from white to black.

[2021-02-18 14:16] jeanbisutti commented on #141
Fixed with 707971ad04a780e797c04cffa5aeb1a10e41736e

[2021-02-18 14:16] #141 closed

[2021-03-11 15:44] jeanbisutti commented on #7
We need the logo with just the lightning bolt, and the image with the lightning bolt and quickperf.

@guiRagh Images are available [here](https://github.com/jeanbisutti/logo)
Don't hesitate to tell me if you need other things

[2021-03-12 09:46] guiRagh commented on #7
This issue should be closed, the specifications are all met.
@jeanbisutti Can you explain what you want to put in the different sections of the site? can be here or on another issue (preference for an issue on @loicmathieu repo).

[2021-03-12 12:30] jeanbisutti commented on #7
@guiRagh Thank you very much! 👍

I noticed that you don't use the `quickperf - 252a34 background.svg` and `lightning bolt - 252a34 background.svg` images. Would it be possible to use them with the dark theme and enable the dark theme by default?

After that, would it be possible to merge all your branches  into your `gh-pages` branch? I could then make a PR with a few text modifications,  I could

[2021-03-12 14:08] loicmathieu commented on #7
@jeanbisutti I can help to migrate the documentation, don't hesistate to ping me if needed.

[2021-03-12 14:54] jeanbisutti commented on #7
Thank you @loicmathieu!

[2021-03-12 15:39] guiRagh commented on #7
All is done !
[https://guiragh.github.io/quickperf.io/](Preview available)

[2021-03-14 22:10] jeanbisutti opened #150 "Move documentation from wiki to website"
The wiki documentation is [here](https://github.com/quick-perf/doc/wiki/QuickPerf).

This issue aims to move the documentation to the [QuickPerf website](https://quickperf.io).

The website code is [here](https://github.com/quick-perf/quickperf.io).

[2021-03-14 22:19] jeanbisutti opened #151 "Twitter image not visible on the QuickPerf website with a smartphone"
QuickPerf website: https://quickperf.io

The website code is [here](https://github.com/quick-perf/quickperf.io).

Without a smartphone:
![image](https://user-images.githubusercontent.com/14811066/111086237-5add5d00-851b-11eb-95ae-4d444e3e4bf3.png)

With a smartphone:
![image](https://user-images.githubusercontent.com/14811066/111086291-9710bd80-851b-11eb-9e54-58709128bcf7.png)

[2021-03-14 22:24] jeanbisutti opened #152 "Non-uniform color on the QuickPerf website"
With the white theme, the lightning bolt on the top left may be grey:

![image](https://user-images.githubusercontent.com/14811066/111086365-09819d80-851c-11eb-92e2-471f0a9e7c95.png)

[2021-03-14 22:30] jeanbisutti commented on #7
Many thanks @guiRagh!

I forked the website repo with the QuickPerf Github account: https://github.com/quick-perf/quickperf.io

You may be interested in [other website issues](https://github.com/quick-perf/quickperf/issues?q=is%3Aissue+is%3Aopen+label%3Awebsite).

Once again, many thanks for your work @guiRagh!

[2021-03-14 22:30] #7 closed

[2021-03-15 18:48] jeanbisutti commented on #150
Issue moved to https://github.com/quick-perf/quickperf.io

[2021-03-15 18:48] #150 closed

[2021-03-15 18:49] jeanbisutti commented on #151
Issue moved to https://github.com/quick-perf/quickperf.io

[2021-03-15 18:49] #151 closed

[2021-03-15 18:51] jeanbisutti commented on #152
Issue moved to https://github.com/quick-perf/quickperf.io

[2021-03-15 18:51] #152 closed

[2021-06-01 14:33] loicmathieu commented on #72
@malys unfortunatly no, the reactive nature of Quarkus and it's specific classloader made it very difficult for quickperf to works on it. I tried multiple things without success.

[2021-06-01 14:39] malys commented on #72
What a shame! because Quick-perf seems very interesting. Do you know any alternative compatible with Quarkus? performance test oriented regression detection
Thanks @loicmathieu

[2021-06-01 15:39] loicmathieu commented on #72
@malys you can ping me on twitter or via email to discuss this subject but I still keep this issue on my todo list and I hope I will find a way to make Quickperf working with Quarkus as I'm a contributor to both project that are both awesome !

[2021-07-20 18:44] #140 closed

[2021-08-01 13:04] FranckDemeyer opened #159 "GC declaration issue"
**Describe the bug**
Hi,
I think there's a little mistake made in GC enum class :
When declaring SHENANDOAH the flag used in JvmOption is set to`new JvmOption("-XX:+UseZGC")`

**Expected behavior**
I think the flag should be set to `new JvmOption("-XX:+UseShenandoahGC")`

Look directly at :
quickperf/jvm/jvm-annotations/src/main/java/org/quickperf/jvm/gc/GC.java

**Versions**
- QuickPerf: 1.0.1

[2021-08-01 13:18] FranckDemeyer opened #160 "Potential NPE"
**Describe the bug**
Hi,
À potential NPE appears in
`JvmOptionConverter#jvmOptionExists(JvmOptions jvmOptions)`
A call to `jvmOptions.values()` is done and a check to `JvmOption != null`is done afterward which may lead to a NPE

See directly :
quickperf/jvm/jvm-annotations/src/main/java/org/quickperf/jvm/JvmOptionConverter.java

**Versions**
- QuickPerf: 1.0.1

[2021-08-01 20:50] jeanbisutti commented on #159
Hi @FranckDemeyer,

Indeed, there is a mistake!

Thank you very much for taking the time to look at the QuickPerf code and noticing the mistake!

Would you be interested in providing a fix?

[2021-08-01 21:14] jeanbisutti commented on #160
Hi @FranckDemeyer,

Thank you very much for this report!

I don't think that there is a bug but the code could be simplified.

In the following method, I don't think that `jvmOptions` parameter could be null:
[code]

The code may be simplified like this:
[code]

Let me explain.

Each JVM annotation has the ability to add JVM options.

In the `JvmAnnotationsConfigs` class, you have the following pi

[2021-08-01 21:58] FranckDemeyer commented on #160
Hi @jeanbisutti,
Because I only read the code directly from github without pulling the code on my IDE, I wasn't sure if JvmOptions could be null or not.
It would be a pleasure to contribute.
I'll send a PR as soon as I can.

[2021-08-01 21:59] FranckDemeyer commented on #159
Hi @jeanbisutti,
I'll send a PR as soon as I can.
😊

[2021-08-02 07:32] jeanbisutti commented on #160
`It would be a pleasure to contribute.
I'll send a PR as soon as I can.`

Great @FranckDemeyer! When you will have the possibility to do it.

[2021-08-02 07:33] jeanbisutti commented on #159
`I'll send a PR as soon as I can.
😊`

Great @FranckDemeyer! When you could!

[2021-08-02 08:24] FranckDemeyer commented on #159
@jeanbisutti :
https://github.com/quick-perf/quickperf/pull/161

[2021-08-02 08:38] FranckDemeyer commented on #160
@jeanbisutti :
https://github.com/quick-perf/quickperf/pull/162

[2021-08-02 09:23] jeanbisutti commented on #159
Fixed with 59dee49c1082d918e28c0312b80fd92eb6b01bd4. Thank you @FranckDemeyer!

[2021-08-02 09:23] #159 closed

[2021-08-02 09:27] jeanbisutti commented on #160
Fixed with 18665ddd30b459929deabfb73778d0f64608c5d9. Thank you @FranckDemeyer!

[2021-08-02 09:27] #160 closed

[2021-09-13 13:23] coiouhkc commented on #72
Hi @loicmathieu , any updates/alternatives so far?
Till I found this issue i tried to add quickperf to my quarkus 2.2.1.Final based solution:
- needed to add `junit-platform.properties` to make it running
- `@ExpectSelect` still wasn't detecting any statements.

[2021-09-13 13:29] loicmathieu commented on #72
@coiouhkc no update so far, Quarkus has its own classloader and this causes challenge to integrate it with Quickperf.
I need to find the time to think of a custom solution for it.

[2021-09-27 17:21] jeanbisutti commented on #147
Fixed with 6812276b589a82c4dec6633f2fe91a1adc0ff3dd

[2021-09-27 17:21] #147 closed

[2022-01-26 03:11] fasteddys opened #170 ".NET SqlServer / MOngDb support"
Hello can you please support .NET C#

[2022-01-26 09:34] jeanbisutti commented on #170
Hello @fasteddys
Thank you very much for your interest in QuickPerf.
QuickPerf is only a Java project today. I don't know .NET C# technologies. If you would like to develop this kind of project for these technologies I could help you.

[2022-01-26 09:34] #170 closed

[2022-02-08 18:18] hedleyproctor commented on #44
Can you give any more information about what would be required to get QuickPerf working correctly with Spring? Specifically if we are using integration tests that extend the AbstractTransactionalTestNGSpringContextTests class. Is there a problem with the TestNG listener, or is it more to do with how the datasource / session factory / transactions are working? We have started trying to implement Qu

[2022-02-08 19:09] jeanbisutti commented on #44
I have never tested QuickPerf + Test NG + Spring Boot. So, I am not sure that the SQL annotations would work with this configuration. It may have issues with AbstractTransactionalTestNGSpringContextTests. Could you share an example with AbstractTransactionalTestNGSpringContextTests and the proxy on the datasource? So, I could also look at this example, and help have something working.

[2022-02-08 19:23] jeanbisutti commented on #44
One issue may be that the performance recording does not start just before the test method execution and does not stop just after the test method execution ([code]( https://github.com/quick-perf/quickperf/blob/master/testng/testng-listener/src/main/java/org/quickperf/testng/QuickPerfTestNGListener.java#L141)). It is difficult to say without an example.

[2022-02-09 19:01] jeanbisutti commented on #44
Thank you @oliver-hughes!

I see what happens from your repo.

[QuickPerfTestNGListener](https://github.com/quick-perf/quickperf/blob/master/testng/testng-listener/src/main/java/org/quickperf/testng/QuickPerfTestNGListener.java) is not called during the execution.  The reason may be that `AbstractTestNGSpringContextTests` and `QuickPerfTestNGListener` both implement `IHookable`.  `QuickPerfTestNGL

[2022-02-10 10:12] hedleyproctor commented on #44
Thanks for doing this. I think myself and Oliver understand the problem better now. We agree that because the Spring base class implements IHookable this is conflicting with the listener. You know this code better than us, are you happy to try and finish off the implementation? Or if not let us know and we can try.

[2022-02-10 16:52] jeanbisutti commented on #44
Hi @hedleyproctor  and @oliver-hughes ,

I have good news. I find a solution to have QuickPerf SQL annotations work with Test NG + Spring.  The code is [here](https://github.com/jeanbisutti/quick-perf-testng-spring?organization=jeanbisutti&organization=jeanbisutti). The solution is based on an `IInvokedMethodListener `implementation. The solution with a Spring `TestExecutionListener `  to notify T

[2022-02-11 17:40] oliver-hughes commented on #44
Hi @jeanbisutti,
Thanks for the quick help! So far the solution seems to be working in another TestNG & Spring project, everything is working as expected with the SQL annotations.

[2022-02-16 19:33] oliver-hughes commented on #44
Hi @jeanbisutti, sure - I'd be happy to create a pull request with this.
A couple of points of query first:
1. I don't believe the `org.testng.ITestNGListener` file should be included? There are a few different ways the listener could be used with TestNG [described here](https://testng.org/doc/documentation-main.html#testng-listeners), so I think it would be best to leave this to the user.
2. I al

[2022-02-17 16:13] jeanbisutti commented on #44
Hi @oliver-hughes,

Great!

Yes, good point!

 I agree. Something like `QuickPerfSqlTestNGListener`?

Don't hesitate to ask if you have other remarks or need help.

[2022-02-21 11:03] hedleyproctor commented on #44
Myself and Oliver have tried to build the QuickPerf master branch but it is failing to get a dependency:

Failed to execute goal on project quick-perf-jfr-annotations: Could not resolve dependencies for project org.quickperf:quick-perf-jfr-annotations:jar:1.1.1-SNAPSHOT: Failure to find org.openjdk.jmc:flightrecorder.rules.jdk:jar:7.1.1

Looking on Maven Central I can see only Flight Recorder v8.

[2022-02-21 12:20] rsassi opened #174 "java.io.IOException is raised when tests use a large class path"
**Describe the bug**
All the OS has limits when starting new processes:
- Linux e.g. ARG_MAX (https://www.in-ulm.de/~mascheck/various/argmax/)
- Windows (https://docs.microsoft.com/en-us/troubleshoot/windows-client/shell-experience/command-line-string-limitation#:~:text=The%20maximum%20length%20of%20the,the%20command%20line)

The proposal: generate a class path jar with manifest to work around the

[2022-02-21 12:48] jeanbisutti commented on #44
The [Frog repository](https://adoptopenjdk.jfrog.io/ui/native/jmc-libs/org/openjdk/) provides the missing dependency ([QuickPerf pom](https://github.com/quick-perf/quickperf/blob/e89070022b893139647b4832738778dac900e910/pom.xml#L273))

I have just removed the 7.1.1 JMC dependencies from my local repository. After that, I can see that Maven can download them.

I suspect that Maven only uses the Mav

[2022-02-21 21:56] jeanbisutti commented on #174
Many thanks @rsassi for having reported this bug and proposing a fix.

This bug concerns the JVM annotations.

I had a first look at the fix. It seems great!

What do you think about creating a PR to fix this bug?

An automated test reproducing the problem would have been great, but it would not have been easy to create. Maybe you know of an open-source project where it would be possible to apply

[2022-02-24 13:33] rsassi commented on #174
Hi @jeanbisutti,

I fixed the issues using JFR 8.1.0 instead of using JFR 7.1.0 + write the required tests + create a branch with the recommended contribution guide lines

FYI: I have some issue when Spring try to inject beans, the investigation is inprogress to check the root cause. I will try to back ASAP with the PR

[2022-02-24 13:52] jeanbisutti commented on #174
Hi @rsassi,

JFR 8.1.0  is another topic, not related to this bug. This topic needs to be discussed. JFR 8.1.0 requires at least Java 8 and may impact the behavior of ExpectNoJvmIssue annotation. This issue is rather huge.

Please, at first,  create a request specifically dedicated to this bug. Thanks!

[2022-02-26 12:50] rsassi commented on #174
Hi @jeanbisutti,

What I mean in my preview comment, JFR 7.1 has an license issue (I can use it only on my personnel laptop => in my free time). The second problem, I don't found a public repository to get the dependencies. can you help me?

For the JFR 8.1.0, I used it to fixe the issue as workaround and I must create a feature request to upgrade the version (require an approve of quick-perf comm

[2022-02-27 22:31] jeanbisutti commented on #174
Hi @rsassi,

I don't see a license problem. I explain why below.

We have to consider two things about the licenses:
* The analysis of the profiling files, the _. jfr_ files. It is done by QuickPerf with the help of `org.openjdk.jmc` dependencies. The license of these dependencies is [_Universal Permissive License_](https://github.com/openjdk/jmc/blob/master/license/LICENSE.txt), so they can be in

[2022-03-03 15:35] jeanbisutti commented on #44
Fixed with 7b9487a470a2c09d675ffda5f4096f21ca54884c

Thanl you @oliver-hughes and @hedleyproctor!!

[2022-03-03 15:35] #44 closed

[2022-03-04 18:12] jeanbisutti commented on #174
Hi @rsassi,

Do you still have an issue with the JFrog repository? Can I help you?

[2022-03-10 15:32] jeanbisutti commented on #174
Hi @rsassi,

I have just added on master a Maven profile to be able to disable the ` jfr-annotations` module (containing the `org.openjdk.jmc` dependency):  ```mvn clean install -P -jfr```. Could you please create a first PR with just the code fixing the bug? I will merge it into master. Thank you.

[2022-05-30 01:26] jcunliffe1 commented on #72
Maybe https://github.com/quarkusio/quarkus/blob/7cbdd14f419741a3fc46cedc2bc18d441784a595/docs/src/main/asciidoc/getting-started-testing.adoc#7-enrichment-via-quarkustestcallback can help?

[2022-08-21 18:48] #174 closed

[2022-08-21 18:52] jeanbisutti commented on #174
Hi @rsassi,

I created a PR based on your fix. I added you as an author and as a QuickPerf contributor.

Many thanks for your help!

You are very welcome if you would like to contribute more.

Jean

[2022-11-16 06:17] blacelle opened #191 "Issue with hierarchy of unit-tests classes"
**Describe the bug**
I consider some tests based on an abstract method:

[code]

and the implementation in a sub-class:

[code]

**Expected behavior**
Run smoothly

**Actual behavior**

It fails with:
[code]

**To Reproduce**
(Please provide a link to a live example or steps to reproduce this behavior.)

**Versions**
- QuickPerf: 1.1.0
- JDK: 17